<template>
    <div class="container">
        <div class="index-advantages">
            <div class="index-advantages__top">
                <div class="row">
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <div class="index-advantages__item">
                            <svg width="70"
                                 height="70"
                                 viewBox="0 0 70 70"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                            >
                                <g clip-path="url(#clip0)">
                                    <path
                                        d="M43.5 58.5L40 53C47.1667 52.6667 61.7 52 62.5 52C63.3 52 66.5 55.6667 68 57.5V65L63 68H42.5L43.5 58.5Z"
                                        class="index-advantages__item-hover-fill"
                                    />
                                    <path
                                        d="M8 17.5L34.5 1.5L64 17.5V20C64 20.176 60.3857 22.4238 55.5 25.3546C55.5 28.5698 55.4 35.1 55 35.5C54.6 35.9 41.8333 43 35.5 46.5V37L5.5 19L8 17.5Z"
                                        class="index-advantages__item-hover-fill"
                                    />
                                    <path
                                        d="M35.5 37V46.5C41.8333 43 54.6 35.9 55 35.5C55.4 35.1 55.5 28.5698 55.5 25.3546M35.5 37C41.0064 33.9202 49.2826 29.0843 55.5 25.3546M35.5 37L5.5 19L8 17.5L34.5 1.5L64 17.5V20C64 20.176 60.3857 22.4238 55.5 25.3546M40 53L43.5 58.5L42.5 68H63L68 65V57.5C66.5 55.6667 63.3 52 62.5 52C61.7 52 47.1667 52.6667 40 53Z"
                                        stroke="black"
                                    />
                                    <path
                                        d="M65.6246 27.686V19.0426C65.6246 18.1079 65.1447 17.2647 64.3409 16.7874L36.9862 0.545662C35.761 -0.181819 34.2387 -0.181956 33.0133 0.545662L5.65865 16.7876C4.85488 17.2649 4.375 18.1079 4.375 19.0426C4.375 19.9774 4.85475 20.8204 5.65865 21.2978L13.3252 25.8497V33.7777C13.3252 35.265 14.1196 36.6606 15.3984 37.4198L32.8374 47.7743C33.5043 48.1703 34.2521 48.3682 34.9999 48.3682C35.7476 48.3682 36.4953 48.1703 37.1623 47.7743L54.6012 37.4198C55.8801 36.6606 56.6744 35.2651 56.6744 33.7777V25.8497L62.8902 22.1591V27.686C61.2989 28.2503 60.1558 29.77 60.1558 31.5524V41.6012C60.1558 42.3563 60.7679 42.9684 61.523 42.9684H66.9918C67.7469 42.9684 68.359 42.3563 68.359 41.6012V31.5524C68.359 29.7701 67.2159 28.2503 65.6246 27.686ZM33.6327 45.0663L16.7943 35.0686C16.341 34.7996 16.0595 34.3049 16.0595 33.7779V27.4734L33.0133 37.5397C33.2125 37.6581 33.4202 37.755 33.6327 37.8349V45.0663ZM53.9402 33.7777C53.9402 34.3048 53.6586 34.7994 53.2052 35.0685L36.3671 45.0665V37.8349C36.5795 37.755 36.7872 37.658 36.9864 37.5397L53.9402 27.4734V33.7777ZM35.5902 35.1885C35.2261 35.4047 34.7736 35.4048 34.4092 35.1885L7.21643 19.0426L34.4092 2.89695C34.7736 2.6808 35.2261 2.68066 35.5902 2.89695L62.7832 19.0427L35.5902 35.1885ZM65.6247 40.2339H62.8903V31.5522C62.8903 30.7984 63.5037 30.1851 64.2575 30.1851C65.0114 30.1851 65.6247 30.7984 65.6247 31.5522V40.2339Z"
                                        fill="black"
                                    />
                                    <ellipse cx="34.5"
                                             cy="20"
                                             rx="3.5"
                                             ry="3"
                                             fill="white"
                                    />
                                    <path
                                        d="M34.4854 15.1667C31.5528 15.1667 29.1667 17.2927 29.1667 19.9059C29.1667 22.5191 31.5526 24.6451 34.4852 24.6451C37.4179 24.6451 39.8039 22.5191 39.8039 19.9059C39.8039 17.2927 37.418 15.1667 34.4854 15.1667ZM34.4852 21.9107C33.0846 21.9107 31.9011 20.9927 31.9011 19.9059C31.9011 18.8191 33.0846 17.9011 34.4852 17.9011C35.8859 17.9011 37.0694 18.8191 37.0694 19.9059C37.0694 20.9927 35.8859 21.9107 34.4852 21.9107Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M59.48 50.7911H30.4883C29.7332 50.7911 29.1211 51.4032 29.1211 52.1583C29.1211 52.9134 29.7332 53.5255 30.4883 53.5255H35C39.2928 53.5255 42.7853 57.018 42.7853 61.3108C42.7853 64.5944 40.114 67.2657 36.8304 67.2657H13.544C15.0117 65.7092 15.9141 63.614 15.9141 61.3108C15.9141 58.2284 14.5813 55.4512 12.4619 53.5255H18.3658C19.1209 53.5255 19.733 52.9134 19.733 52.1583C19.733 51.4032 19.1209 50.7911 18.3658 50.7911H5.39438C5.36758 50.7911 5.34434 50.7925 5.32301 50.7947C4.60127 50.832 4.02719 51.4273 4.02719 52.1583C4.02719 52.8589 4.55437 53.4354 5.23346 53.5153C5.26736 53.5221 5.31932 53.5255 5.39438 53.5255C9.68721 53.5255 13.1797 57.018 13.1797 61.3108C13.1797 64.5944 10.5083 67.2657 7.22477 67.2657C4.74879 67.2657 2.73438 65.2513 2.73438 62.7754C2.73438 60.9452 4.22324 59.4564 6.05322 59.4564C7.36641 59.4564 8.43486 60.5248 8.43486 61.838C8.43486 62.5931 9.04695 63.2052 9.80205 63.2052C10.5571 63.2052 11.1692 62.5931 11.1692 61.838C11.1692 59.017 8.87414 56.722 6.05322 56.722C2.71537 56.722 0 59.4375 0 62.7754C0.000136719 66.7589 3.24105 70 7.22477 70H61.3104C66.1017 70 69.9997 66.102 69.9997 61.3107C69.9999 55.5103 65.2806 50.7911 59.48 50.7911ZM61.3106 67.2656H43.1495C44.6172 65.7091 45.5196 63.6138 45.5196 61.3107C45.5196 58.2282 44.1868 55.4511 42.0674 53.5254H59.4799C63.7727 53.5254 67.2652 57.0179 67.2652 61.3107C67.2655 64.5943 64.594 67.2656 61.3106 67.2656Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M25.4393 51.1917C25.185 50.9374 24.8322 50.7911 24.4727 50.7911C24.1131 50.7911 23.7605 50.9374 23.5061 51.1917C23.2518 51.446 23.1055 51.7988 23.1055 52.1583C23.1055 52.5179 23.2518 52.8706 23.5061 53.1249C23.7604 53.3792 24.1131 53.5255 24.4727 53.5255C24.8322 53.5255 25.185 53.3792 25.4393 53.1249C25.6936 52.8706 25.8398 52.5179 25.8398 52.1583C25.8398 51.7988 25.6934 51.446 25.4393 51.1917Z"
                                        fill="black"
                                    />
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="70"
                                              height="70"
                                              fill="white"
                                        />
                                    </clipPath>
                                </defs>
                            </svg>

                            <h4>43000+</h4>
                            <p>Выпускников по всем программам&nbsp;обучения</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 mb-4 mb-md-0">
                        <div class="index-advantages__item">
                            <svg width="70"
                                 height="70"
                                 viewBox="0 0 70 70"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                            >
                                <g clip-path="url(#clip0)">
                                    <path
                                        d="M64.4003 25.5552H60.2284V25.0867C60.2284 23.9205 59.2796 22.9718 58.1134 22.9718H49.8854C49.3183 22.9718 48.8586 23.4314 48.8586 23.9986C48.8586 24.5659 49.3183 25.0255 49.8854 25.0255H58.1134C58.1472 25.0255 58.1748 25.0529 58.1748 25.0867V37.6069C58.1748 38.1741 58.6345 38.6337 59.2016 38.6337C59.7687 38.6337 60.2284 38.1741 60.2284 37.6069V27.6089H64.4003C64.5391 27.6089 64.6521 27.7218 64.6521 27.8607V63.6848C64.6521 66.0346 62.7404 67.9463 60.3905 67.9463H9.61013C7.26031 67.9463 5.3486 66.0346 5.3486 63.6848V27.8607C5.3486 27.7218 5.46156 27.6089 5.60038 27.6089H9.90914V62.7286C9.90914 64.1766 11.0871 65.3547 12.5353 65.3547H57.6022C59.0503 65.3547 60.2283 64.1767 60.2283 62.7286V41.9866C60.2283 41.4193 59.7686 40.9597 59.2015 40.9597C58.6344 40.9597 58.1746 41.4193 58.1746 41.9866V56.7636H41.5612C39.4095 56.7636 37.4675 57.6735 36.0956 59.127V45.8445C36.0956 45.2772 35.6359 44.8176 35.0688 44.8176C34.5017 44.8176 34.042 45.2772 34.042 45.8445V59.1271C32.6701 57.6737 30.728 56.7638 28.5764 56.7638H23.9105C23.3434 56.7638 22.8836 57.2234 22.8836 57.7906C22.8836 58.3578 23.3434 58.8174 23.9105 58.8174H28.5764C31.2548 58.8174 33.4879 60.7546 33.952 63.301H12.5353C12.2195 63.301 11.9628 63.0443 11.9628 62.7286V58.8174H19.5306C20.0977 58.8174 20.5575 58.3578 20.5575 57.7906C20.5575 57.2234 20.0977 56.7638 19.5306 56.7638H11.9628V25.0867C11.9628 25.0529 11.9903 25.0255 12.0242 25.0255H20.2522C20.8193 25.0255 21.279 24.5659 21.279 23.9986C21.279 23.4314 20.8193 22.9718 20.2522 22.9718H12.0242C10.8579 22.9718 9.90914 23.9206 9.90914 25.0867V25.5552H5.60038C4.32916 25.5552 3.29492 26.5894 3.29492 27.8607V63.6848C3.29492 67.167 6.12791 70 9.61013 70H60.3903C63.8725 70 66.7055 67.167 66.7055 63.6848V27.8607C66.7056 26.5894 65.6715 25.5552 64.4003 25.5552ZM41.5612 58.8173H58.1746V62.7286C58.1746 63.0443 57.9179 63.301 57.6022 63.301H36.1857C36.6497 60.7545 38.8828 58.8173 41.5612 58.8173Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M21.3787 14.4074C21.9423 14.4597 22.4441 14.0461 22.4974 13.4815C22.7911 10.3675 24.2289 7.48444 26.5466 5.36339C28.8786 3.22921 31.9053 2.05368 35.0693 2.05368C42.0331 2.05368 47.6985 7.7191 47.6985 14.6827C47.6985 17.3031 46.9032 19.816 45.3987 21.9502C45.3902 21.9622 45.382 21.9745 45.3739 21.9869L38.8029 32.2167C38.6965 32.3823 38.64 32.5748 38.64 32.7717V34.1019C38.64 34.3719 38.4204 34.5915 38.1504 34.5915H38.0833L38.7375 23.4914H39.9073C41.5811 23.4914 42.9429 22.1297 42.9429 20.4559V20.3313C42.9429 18.6576 41.5811 17.2958 39.9073 17.2958C38.3025 17.2958 36.9715 18.5508 36.877 20.1528L36.8013 21.4377H33.2003L33.1246 20.1528C33.0303 18.5508 31.6991 17.2958 30.0944 17.2958C28.4205 17.2958 27.0587 18.6576 27.0587 20.3313V20.4559C27.0587 22.1297 28.4205 23.4914 30.0944 23.4914H31.2641L31.9179 34.5844C31.6814 34.5499 31.4987 34.3478 31.4987 34.1019V32.7717C31.4987 32.5748 31.4421 32.3823 31.3359 32.2167L24.7648 21.9869C24.7568 21.9745 24.7486 21.9622 24.7401 21.9502C23.7953 20.6098 23.1299 19.1203 22.7629 17.523C22.6357 16.9703 22.0839 16.6254 21.532 16.7523C20.9793 16.8795 20.6343 17.4304 20.7613 17.9831C21.1869 19.834 21.9564 21.5605 23.0487 23.1149L29.4453 33.0728V34.1017C29.4453 35.1385 30.0697 36.031 30.9617 36.4266V38.163C30.9617 39.9902 32.4482 41.4767 34.2754 41.4767H35.8641C37.6912 41.4767 39.1778 39.9902 39.1778 38.163V36.4266C40.0696 36.031 40.6942 35.1386 40.6942 34.1017V33.0728L47.0906 23.1149C48.8321 20.6366 49.7526 17.7212 49.7526 14.6826C49.7521 6.58657 43.1654 0 35.0693 0C31.3908 0 27.8716 1.36679 25.16 3.84846C22.466 6.31425 20.7943 9.66668 20.4529 13.2887C20.3995 13.8535 20.814 14.3543 21.3787 14.4074ZM38.9271 20.2735C38.9576 19.7553 39.3882 19.3494 39.9073 19.3494C40.4487 19.3494 40.8892 19.7898 40.8892 20.3312V20.4558C40.8892 20.9971 40.4487 21.4376 39.9073 21.4376H38.8585L38.9271 20.2735ZM30.0944 21.4376C29.5529 21.4376 29.1124 20.9971 29.1124 20.4558V20.3312C29.1124 19.7898 29.5529 19.3494 30.0944 19.3494C30.6135 19.3494 31.044 19.7553 31.0745 20.2735L31.1431 21.4376H30.0944ZM36.6802 23.4912L36.0262 34.5914H33.9755L33.3215 23.4912H36.6802ZM37.1236 38.1632C37.1236 38.8578 36.5584 39.4232 35.8636 39.4232H34.2748C33.5801 39.4232 33.0148 38.8578 33.0148 38.1632V36.6451H37.1234V38.1632H37.1236Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M53.0558 7.7973C53.2963 7.7973 53.5378 7.71324 53.7328 7.5421L55.9732 5.57494C56.3994 5.2009 56.4415 4.55194 56.0674 4.12587C55.6934 3.6998 55.0446 3.65763 54.6184 4.03167L52.3779 5.99882C51.9517 6.37287 51.9097 7.02183 52.2837 7.4479C52.4868 7.67915 52.7706 7.7973 53.0558 7.7973Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M52.3774 13.9902L54.6178 15.9575C54.8128 16.1288 55.0543 16.2127 55.295 16.2127C55.5802 16.2127 55.864 16.0945 56.067 15.8633C56.4412 15.4372 56.399 14.7884 55.973 14.4142L53.7325 12.4469C53.3063 12.0726 52.6577 12.1149 52.2835 12.5411C51.9092 12.9672 51.9512 13.6159 52.3774 13.9902Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M14.1648 5.57492L16.4053 7.54207C16.6002 7.71335 16.8418 7.79727 17.0823 7.79727C17.3675 7.79727 17.6513 7.67912 17.8544 7.44787C18.2285 7.0218 18.1864 6.37284 17.7602 5.9988L15.5197 4.03165C15.0937 3.65733 14.4447 3.69963 14.0707 4.12584C13.6965 4.55191 13.7386 5.20074 14.1648 5.57492Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M14.8426 16.2127C15.0831 16.2127 15.3246 16.1287 15.5197 15.9575L17.7602 13.9902C18.1862 13.616 18.2284 12.9672 17.8542 12.5411C17.4802 12.1151 16.8314 12.0729 16.4052 12.447L14.1647 14.4142C13.7387 14.7884 13.6965 15.4372 14.0707 15.8633C14.2736 16.0946 14.5573 16.2127 14.8426 16.2127Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M25.984 35.6182C25.984 35.051 25.5243 34.5914 24.9572 34.5914H14.8423C14.2752 34.5914 13.8154 35.051 13.8154 35.6182C13.8154 36.1854 14.2752 36.645 14.8423 36.645H24.9572C25.5243 36.645 25.984 36.1854 25.984 35.6182Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M28.0852 39.8147H16.697C16.1299 39.8147 15.6702 40.2743 15.6702 40.8415C15.6702 41.4088 16.1299 41.8684 16.697 41.8684H28.0852C28.6523 41.8684 29.1121 41.4088 29.1121 40.8415C29.1121 40.2743 28.6523 39.8147 28.0852 39.8147Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M28.0852 44.8176H16.697C16.1299 44.8176 15.6702 45.2772 15.6702 45.8445C15.6702 46.4117 16.1299 46.8713 16.697 46.8713H28.0852C28.6523 46.8713 29.1121 46.4117 29.1121 45.8445C29.1121 45.2772 28.6523 44.8176 28.0852 44.8176Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M28.0852 49.8206H16.697C16.1299 49.8206 15.6702 50.2802 15.6702 50.8474C15.6702 51.4146 16.1299 51.8742 16.697 51.8742H28.0852C28.6523 51.8742 29.1121 51.4146 29.1121 50.8474C29.1121 50.2802 28.6523 49.8206 28.0852 49.8206Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M56.3229 35.6182C56.3229 35.051 55.8632 34.5914 55.2961 34.5914H45.1811C44.614 34.5914 44.1543 35.051 44.1543 35.6182C44.1543 36.1854 44.614 36.645 45.1811 36.645H55.2961C55.8632 36.645 56.3229 36.1854 56.3229 35.6182Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M53.4407 39.8147H42.0525C41.4854 39.8147 41.0256 40.2743 41.0256 40.8415C41.0256 41.4088 41.4854 41.8684 42.0525 41.8684H53.4407C54.0078 41.8684 54.4675 41.4088 54.4675 40.8415C54.4675 40.2743 54.0078 39.8147 53.4407 39.8147Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M53.4407 44.8176H42.0525C41.4854 44.8176 41.0256 45.2772 41.0256 45.8445C41.0256 46.4117 41.4854 46.8713 42.0525 46.8713H53.4407C54.0078 46.8713 54.4675 46.4117 54.4675 45.8445C54.4675 45.2772 54.0078 44.8176 53.4407 44.8176Z"
                                        fill="black"
                                    />
                                    <path
                                        d="M53.4407 49.8206H42.0525C41.4854 49.8206 41.0256 50.2802 41.0256 50.8474C41.0256 51.4146 41.4854 51.8742 42.0525 51.8742H53.4407C54.0078 51.8742 54.4675 51.4146 54.4675 50.8474C54.4675 50.2802 54.0078 49.8206 53.4407 49.8206Z"
                                        fill="black"
                                    />
                                </g>
                                <defs>
                                    <clipPath id="clip0">
                                        <rect width="70"
                                              height="70"
                                              fill="white"
                                        />
                                    </clipPath>
                                </defs>
                            </svg>

                            <h4>50+</h4>
                            <p>Образовательных программ по всем уровням образования</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="index-advantages__item">
                            <svg width="70"
                                 height="70"
                                 viewBox="0 0 70 70"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg"
                            >
                                <mask id="path-1-inside-1"
                                      fill="white"
                                >
                                    <path
                                        d="M66.6687 59.6776C66.9561 59.0319 67.1172 58.318 67.1172 57.5668V55.6448C67.1172 52.7714 64.7795 50.4339 61.9063 50.4339C59.033 50.4339 56.6954 52.7716 56.6954 55.6448V57.5668C56.6954 58.3192 56.857 59.0341 57.1452 59.6806C56.3674 60.2453 55.7031 60.9312 55.1797 61.7098C54.6564 60.9313 53.9922 60.2454 53.2145 59.6806C53.5027 59.0341 53.6643 58.319 53.6643 57.5667V55.6447C53.6643 52.7713 51.3267 50.4338 48.4534 50.4338C45.5802 50.4338 43.2426 52.7714 43.2426 55.6447V57.5667C43.2426 58.319 43.4042 59.0339 43.6922 59.6805C42.9144 60.2453 42.2501 60.9312 41.7266 61.7098C41.2033 60.9313 40.5389 60.2454 39.7614 59.6806C40.0496 59.0341 40.2112 58.319 40.2112 57.5667V55.6447C40.2112 53.3242 38.6863 51.3539 36.586 50.6813V46.484H37.9533H63.7111C65.2187 46.484 66.4453 45.2574 66.4453 43.7498V2.73423C66.4452 1.22664 65.2185 0 63.7109 0H6.28905C4.78146 0 3.55482 1.22664 3.55482 2.73423V43.7499C3.55482 45.2575 4.78146 46.4841 6.28905 46.4841H18.8126H20.1796V50.6171C17.9675 51.2194 16.3359 53.2446 16.3359 55.6448V57.5668C16.3359 58.3192 16.4975 59.0341 16.7857 59.6806C16.008 60.2453 15.3436 60.9312 14.8203 61.7098C14.2969 60.9313 13.6327 60.2454 12.8551 59.6806C13.1433 59.0341 13.3049 58.319 13.3049 57.5667V55.6447C13.3049 52.7713 10.9673 50.4338 8.09401 50.4338C5.22073 50.4338 2.88298 52.7714 2.88298 55.6447V57.5667C2.88298 58.3178 3.04404 59.0316 3.33128 59.6773C1.24892 61.1888 0 63.5902 0 66.2151V68.6328C0 69.3878 0.612225 70 1.36718 70H68.6328C69.3878 70 70 69.3878 70 68.6328V66.2151C70 63.5912 68.7507 61.189 66.6687 59.6776ZM5.61708 55.6448C5.61708 54.2793 6.72819 53.1683 8.09373 53.1683C9.45928 53.1683 10.5703 54.2793 10.5703 55.6448V57.5668C10.5703 58.9324 9.45928 60.0433 8.09373 60.0433C6.72819 60.0433 5.61708 58.9324 5.61708 57.5668V55.6448ZM13.4531 67.2656H2.73437V66.2151C2.73437 64.4584 3.62933 62.7981 5.06487 61.803C5.91923 62.4155 6.96471 62.7777 8.09373 62.7777C9.22358 62.7777 10.2697 62.4151 11.1244 61.8018C12.577 62.7978 13.4532 64.4297 13.4532 66.2152V67.2656H13.4531ZM59.4297 55.6448C59.4297 54.2793 60.5407 53.1683 61.9063 53.1683C63.2718 53.1683 64.3828 54.2793 64.3828 55.6448V57.5668C64.3828 58.9324 63.2718 60.0433 61.9063 60.0433C60.5407 60.0433 59.4297 58.9324 59.4297 57.5668V55.6448ZM45.9766 55.6448C45.9766 54.2793 47.0876 53.1683 48.4532 53.1683C49.8187 53.1683 50.9297 54.2793 50.9297 55.6448V57.5668C50.9297 58.9324 49.8187 60.0433 48.4532 60.0433C47.0876 60.0433 45.9766 58.9324 45.9766 57.5668V55.6448ZM45.4244 61.803C46.2788 62.4155 47.3241 62.7777 48.4532 62.7777C49.583 62.7777 50.6292 62.4151 51.4838 61.8018C52.9364 62.7978 53.8127 64.4297 53.8127 66.2152V67.2658H43.0939V66.2152C43.0938 64.4584 43.9888 62.7982 45.4244 61.803ZM40.3594 67.2656H29.6407V66.2151C29.6407 64.4584 30.5355 62.7982 31.9712 61.803C32.8256 62.4155 33.8709 62.7777 34.9999 62.7777C36.1298 62.7777 37.1759 62.4151 38.0306 61.8018C39.4832 62.7978 40.3594 64.4297 40.3594 66.2152V67.2656ZM22.914 50.6171V43.7498H22.9142H33.8515V50.563C31.5291 51.0876 29.789 53.1661 29.789 55.6448V57.5668C29.789 58.3192 29.9506 59.0341 30.2387 59.6806C29.4609 60.2454 28.7966 60.9313 28.2732 61.7099C27.7499 60.9315 27.0856 60.2455 26.3081 59.6808C26.5963 59.0342 26.7579 58.3192 26.7579 57.5668V55.6448C26.7579 53.2446 25.1261 51.2194 22.914 50.6171ZM17.4454 42.3826V34.1795L20.1796 34.1792V43.7498H18.8126C18.0587 43.7498 17.4454 43.1365 17.4454 42.3826ZM17.53 31.445C17.9238 28.2851 19.6719 25.4742 22.3432 23.7047C23.2868 25.4798 24.9891 26.7926 27.0156 27.2056V41.0153H22.9142H22.914V32.8118C22.914 32.4492 22.7699 32.1014 22.5136 31.845C22.2571 31.5885 21.9093 31.4446 21.5467 31.4446L17.53 31.445ZM28.3828 24.6089C26.1212 24.6089 24.2813 22.769 24.2813 20.5074V17.773C24.2813 15.5114 26.1212 13.6714 28.3828 13.6714H28.3829C30.6444 13.6714 32.4843 15.5114 32.4843 17.773V20.5074C32.4843 22.769 30.6444 24.6089 28.3828 24.6089ZM37.4766 55.6448V57.5668C37.4766 58.9324 36.3656 60.0433 34.9999 60.0433C33.6344 60.0433 32.5234 58.9324 32.5234 57.5668V55.6448C32.5234 54.2793 33.6344 53.1683 34.9999 53.1683C36.3656 53.1683 37.4766 54.2793 37.4766 55.6448ZM35.2188 31.4447C35.2187 31.4447 35.2187 31.4447 35.2188 31.4447C34.8561 31.4447 34.5084 31.5888 34.2519 31.8452C33.9956 32.1015 33.8515 32.4493 33.8515 32.8119V41.0154H29.7499V27.2057C31.7762 26.7929 33.4784 25.4802 34.422 23.7053C37.0927 25.4752 38.8413 28.2873 39.2356 31.445L35.2188 31.4447ZM36.5859 34.1792L39.3204 34.1795V42.3826C39.3204 43.1365 38.7071 43.7498 37.9532 43.7498H36.5859V34.1792ZM6.28905 2.73437L63.7108 2.73423L63.7109 43.7498H41.8195C41.9712 43.3218 42.0546 42.8619 42.0546 42.3826V41.0154H59.6093C60.3642 41.0154 60.9764 40.4032 60.9764 39.6482V6.83592C60.9764 6.08096 60.3642 5.46874 59.6093 5.46874H41.1519C40.3969 5.46874 39.7847 6.08096 39.7847 6.83592C39.7847 7.59088 40.3969 8.20311 41.1519 8.20311H58.2421V38.281H42.0547V32.8123C42.0547 30.2387 41.3277 27.7265 39.952 25.5475C38.7582 23.6567 37.1255 22.0893 35.2009 20.9747C35.2114 20.82 35.2187 20.6646 35.2187 20.5072V17.7729C35.2187 14.0035 32.1521 10.9369 28.3828 10.9369C24.6136 10.9369 21.547 14.0035 21.547 17.7729V20.5072C21.547 20.6643 21.5542 20.8198 21.5647 20.9743C19.6459 22.0854 18.0174 23.6467 16.8242 25.5308C15.4418 27.7138 14.711 30.2316 14.711 32.8122V38.2809H14.7109H11.7578V8.20311H28.8472C29.6021 8.20311 30.2144 7.59088 30.2144 6.83592C30.2144 6.08096 29.6021 5.46874 28.8472 5.46874H10.3906C9.63564 5.46874 9.02342 6.08096 9.02342 6.83592V39.6482C9.02342 40.4032 9.63564 41.0154 10.3906 41.0154H14.7109H14.711V42.3826C14.711 42.8619 14.7944 43.3218 14.9462 43.7498L6.28919 43.7499L6.28905 2.73437ZM19.0702 55.6448C19.0702 54.2793 20.1812 53.1683 21.5467 53.1683C22.9124 53.1683 24.0234 54.2793 24.0234 55.6448V57.5668C24.0234 58.9324 22.9124 60.0433 21.5467 60.0433C20.1812 60.0433 19.0702 58.9324 19.0702 57.5668V55.6448ZM16.1875 66.2151C16.1875 64.4584 17.0823 62.7982 18.518 61.803C19.3723 62.4155 20.4177 62.7777 21.5467 62.7777C22.6765 62.7777 23.7227 62.4151 24.5773 61.8018C26.03 62.7978 26.9062 64.4297 26.9062 66.2152V67.2658H16.1875V66.2151ZM67.2656 67.2656H56.547V66.2151C56.547 64.4584 57.4419 62.7982 58.8775 61.803C59.7319 62.4155 60.7772 62.7777 61.9063 62.7777C63.0361 62.7777 64.0823 62.4151 64.9369 61.8018C66.3894 62.7978 67.2656 64.4297 67.2656 66.2152V67.2656Z"
                                    />
                                </mask>
                                <path
                                    d="M66.6687 59.6776C66.9561 59.0319 67.1172 58.318 67.1172 57.5668V55.6448C67.1172 52.7714 64.7795 50.4339 61.9063 50.4339C59.033 50.4339 56.6954 52.7716 56.6954 55.6448V57.5668C56.6954 58.3192 56.857 59.0341 57.1452 59.6806C56.3674 60.2453 55.7031 60.9312 55.1797 61.7098C54.6564 60.9313 53.9922 60.2454 53.2145 59.6806C53.5027 59.0341 53.6643 58.319 53.6643 57.5667V55.6447C53.6643 52.7713 51.3267 50.4338 48.4534 50.4338C45.5802 50.4338 43.2426 52.7714 43.2426 55.6447V57.5667C43.2426 58.319 43.4042 59.0339 43.6922 59.6805C42.9144 60.2453 42.2501 60.9312 41.7266 61.7098C41.2033 60.9313 40.5389 60.2454 39.7614 59.6806C40.0496 59.0341 40.2112 58.319 40.2112 57.5667V55.6447C40.2112 53.3242 38.6863 51.3539 36.586 50.6813V46.484H37.9533H63.7111C65.2187 46.484 66.4453 45.2574 66.4453 43.7498V2.73423C66.4452 1.22664 65.2185 0 63.7109 0H6.28905C4.78146 0 3.55482 1.22664 3.55482 2.73423V43.7499C3.55482 45.2575 4.78146 46.4841 6.28905 46.4841H18.8126H20.1796V50.6171C17.9675 51.2194 16.3359 53.2446 16.3359 55.6448V57.5668C16.3359 58.3192 16.4975 59.0341 16.7857 59.6806C16.008 60.2453 15.3436 60.9312 14.8203 61.7098C14.2969 60.9313 13.6327 60.2454 12.8551 59.6806C13.1433 59.0341 13.3049 58.319 13.3049 57.5667V55.6447C13.3049 52.7713 10.9673 50.4338 8.09401 50.4338C5.22073 50.4338 2.88298 52.7714 2.88298 55.6447V57.5667C2.88298 58.3178 3.04404 59.0316 3.33128 59.6773C1.24892 61.1888 0 63.5902 0 66.2151V68.6328C0 69.3878 0.612225 70 1.36718 70H68.6328C69.3878 70 70 69.3878 70 68.6328V66.2151C70 63.5912 68.7507 61.189 66.6687 59.6776ZM5.61708 55.6448C5.61708 54.2793 6.72819 53.1683 8.09373 53.1683C9.45928 53.1683 10.5703 54.2793 10.5703 55.6448V57.5668C10.5703 58.9324 9.45928 60.0433 8.09373 60.0433C6.72819 60.0433 5.61708 58.9324 5.61708 57.5668V55.6448ZM13.4531 67.2656H2.73437V66.2151C2.73437 64.4584 3.62933 62.7981 5.06487 61.803C5.91923 62.4155 6.96471 62.7777 8.09373 62.7777C9.22358 62.7777 10.2697 62.4151 11.1244 61.8018C12.577 62.7978 13.4532 64.4297 13.4532 66.2152V67.2656H13.4531ZM59.4297 55.6448C59.4297 54.2793 60.5407 53.1683 61.9063 53.1683C63.2718 53.1683 64.3828 54.2793 64.3828 55.6448V57.5668C64.3828 58.9324 63.2718 60.0433 61.9063 60.0433C60.5407 60.0433 59.4297 58.9324 59.4297 57.5668V55.6448ZM45.9766 55.6448C45.9766 54.2793 47.0876 53.1683 48.4532 53.1683C49.8187 53.1683 50.9297 54.2793 50.9297 55.6448V57.5668C50.9297 58.9324 49.8187 60.0433 48.4532 60.0433C47.0876 60.0433 45.9766 58.9324 45.9766 57.5668V55.6448ZM45.4244 61.803C46.2788 62.4155 47.3241 62.7777 48.4532 62.7777C49.583 62.7777 50.6292 62.4151 51.4838 61.8018C52.9364 62.7978 53.8127 64.4297 53.8127 66.2152V67.2658H43.0939V66.2152C43.0938 64.4584 43.9888 62.7982 45.4244 61.803ZM40.3594 67.2656H29.6407V66.2151C29.6407 64.4584 30.5355 62.7982 31.9712 61.803C32.8256 62.4155 33.8709 62.7777 34.9999 62.7777C36.1298 62.7777 37.1759 62.4151 38.0306 61.8018C39.4832 62.7978 40.3594 64.4297 40.3594 66.2152V67.2656ZM22.914 50.6171V43.7498H22.9142H33.8515V50.563C31.5291 51.0876 29.789 53.1661 29.789 55.6448V57.5668C29.789 58.3192 29.9506 59.0341 30.2387 59.6806C29.4609 60.2454 28.7966 60.9313 28.2732 61.7099C27.7499 60.9315 27.0856 60.2455 26.3081 59.6808C26.5963 59.0342 26.7579 58.3192 26.7579 57.5668V55.6448C26.7579 53.2446 25.1261 51.2194 22.914 50.6171ZM17.4454 42.3826V34.1795L20.1796 34.1792V43.7498H18.8126C18.0587 43.7498 17.4454 43.1365 17.4454 42.3826ZM17.53 31.445C17.9238 28.2851 19.6719 25.4742 22.3432 23.7047C23.2868 25.4798 24.9891 26.7926 27.0156 27.2056V41.0153H22.9142H22.914V32.8118C22.914 32.4492 22.7699 32.1014 22.5136 31.845C22.2571 31.5885 21.9093 31.4446 21.5467 31.4446L17.53 31.445ZM28.3828 24.6089C26.1212 24.6089 24.2813 22.769 24.2813 20.5074V17.773C24.2813 15.5114 26.1212 13.6714 28.3828 13.6714H28.3829C30.6444 13.6714 32.4843 15.5114 32.4843 17.773V20.5074C32.4843 22.769 30.6444 24.6089 28.3828 24.6089ZM37.4766 55.6448V57.5668C37.4766 58.9324 36.3656 60.0433 34.9999 60.0433C33.6344 60.0433 32.5234 58.9324 32.5234 57.5668V55.6448C32.5234 54.2793 33.6344 53.1683 34.9999 53.1683C36.3656 53.1683 37.4766 54.2793 37.4766 55.6448ZM35.2188 31.4447C35.2187 31.4447 35.2187 31.4447 35.2188 31.4447C34.8561 31.4447 34.5084 31.5888 34.2519 31.8452C33.9956 32.1015 33.8515 32.4493 33.8515 32.8119V41.0154H29.7499V27.2057C31.7762 26.7929 33.4784 25.4802 34.422 23.7053C37.0927 25.4752 38.8413 28.2873 39.2356 31.445L35.2188 31.4447ZM36.5859 34.1792L39.3204 34.1795V42.3826C39.3204 43.1365 38.7071 43.7498 37.9532 43.7498H36.5859V34.1792ZM6.28905 2.73437L63.7108 2.73423L63.7109 43.7498H41.8195C41.9712 43.3218 42.0546 42.8619 42.0546 42.3826V41.0154H59.6093C60.3642 41.0154 60.9764 40.4032 60.9764 39.6482V6.83592C60.9764 6.08096 60.3642 5.46874 59.6093 5.46874H41.1519C40.3969 5.46874 39.7847 6.08096 39.7847 6.83592C39.7847 7.59088 40.3969 8.20311 41.1519 8.20311H58.2421V38.281H42.0547V32.8123C42.0547 30.2387 41.3277 27.7265 39.952 25.5475C38.7582 23.6567 37.1255 22.0893 35.2009 20.9747C35.2114 20.82 35.2187 20.6646 35.2187 20.5072V17.7729C35.2187 14.0035 32.1521 10.9369 28.3828 10.9369C24.6136 10.9369 21.547 14.0035 21.547 17.7729V20.5072C21.547 20.6643 21.5542 20.8198 21.5647 20.9743C19.6459 22.0854 18.0174 23.6467 16.8242 25.5308C15.4418 27.7138 14.711 30.2316 14.711 32.8122V38.2809H14.7109H11.7578V8.20311H28.8472C29.6021 8.20311 30.2144 7.59088 30.2144 6.83592C30.2144 6.08096 29.6021 5.46874 28.8472 5.46874H10.3906C9.63564 5.46874 9.02342 6.08096 9.02342 6.83592V39.6482C9.02342 40.4032 9.63564 41.0154 10.3906 41.0154H14.7109H14.711V42.3826C14.711 42.8619 14.7944 43.3218 14.9462 43.7498L6.28919 43.7499L6.28905 2.73437ZM19.0702 55.6448C19.0702 54.2793 20.1812 53.1683 21.5467 53.1683C22.9124 53.1683 24.0234 54.2793 24.0234 55.6448V57.5668C24.0234 58.9324 22.9124 60.0433 21.5467 60.0433C20.1812 60.0433 19.0702 58.9324 19.0702 57.5668V55.6448ZM16.1875 66.2151C16.1875 64.4584 17.0823 62.7982 18.518 61.803C19.3723 62.4155 20.4177 62.7777 21.5467 62.7777C22.6765 62.7777 23.7227 62.4151 24.5773 61.8018C26.03 62.7978 26.9062 64.4297 26.9062 66.2152V67.2658H16.1875V66.2151ZM67.2656 67.2656H56.547V66.2151C56.547 64.4584 57.4419 62.7982 58.8775 61.803C59.7319 62.4155 60.7772 62.7777 61.9063 62.7777C63.0361 62.7777 64.0823 62.4151 64.9369 61.8018C66.3894 62.7978 67.2656 64.4297 67.2656 66.2152V67.2656Z"
                                    fill="black"
                                    stroke="#F2F2F2"
                                    stroke-width="0.6"
                                    mask="url(#path-1-inside-1)"
                                />
                                <path
                                    d="M36.2176 6.83594C36.2176 7.50806 35.6725 8.05312 35.0004 8.05312C34.3282 8.05312 33.7828 7.508 33.7828 6.83594C33.7828 6.16374 34.3274 5.61875 34.9995 5.61875H35.0004C35.6725 5.61875 36.2176 6.16382 36.2176 6.83594Z"
                                    fill="black"
                                    stroke="#F2F2F2"
                                    stroke-width="0.3"
                                />
                                <path
                                    d="M54.1409 13.5216H41.1523C40.4802 13.5216 39.9352 12.9766 39.9352 12.3044C39.9352 11.6323 40.4802 11.0873 41.1523 11.0873H54.1409C54.813 11.0873 55.3581 11.6323 55.3581 12.3044C55.3581 12.9766 54.813 13.5216 54.1409 13.5216Z"
                                    fill="black"
                                    stroke="#F2F2F2"
                                    stroke-width="0.3"
                                />
                                <path
                                    d="M43.6646 16.5561H54.1403C54.8125 16.5561 55.3575 17.1012 55.3575 17.7733C55.3575 18.4454 54.8125 18.9905 54.1403 18.9905H43.6646C42.9924 18.9905 42.4474 18.4454 42.4474 17.7733C42.4474 17.1012 42.9924 16.5561 43.6646 16.5561Z"
                                    fill="black"
                                    stroke="#F2F2F2"
                                    stroke-width="0.3"
                                />
                                <path
                                    d="M47.356 22.0251H54.1404C54.8125 22.0251 55.3575 22.5702 55.3575 23.2423C55.3575 23.9144 54.8125 24.4595 54.1404 24.4595H47.356C46.6838 24.4595 46.1388 23.9144 46.1388 23.2423C46.1388 22.5702 46.6838 22.0251 47.356 22.0251Z"
                                    fill="black"
                                    stroke="#F2F2F2"
                                    stroke-width="0.3"
                                />
                            </svg>

                            <h4>110+</h4>
                            <p>Преподавателей, аспирантов и докторов&nbsp;наук</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-md-6">
                    <img src="/images/advantages-image.jpg">
                </div>
                <div class="col-12 col-md-6 index-advantages__teachers">
                    <h4>Препопдаватели нашего ВУЗа высококвалифицированны</h4>
                    <p>
                        Принято решение № 419 Сургутского горисполкома «Об учреждении Координационного Центра по
                        методологическому обеспечению системы университетского образования в г. Сургуте». Научным
                        руководителем центра стал заведующий лабораторией
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexAdvantages',
};
</script>

<style scoped lang="scss">

.index-advantages {
    margin-top: -100px;
}

.index-advantages__top {
    padding: 30px;
    background: #F2F2F2;
}

.index-advantages__item {
    text-align: center;

    h4 {
        font-weight: bold;
    }

    svg {
        margin-bottom: 15px;
    }

    svg {
        transition: transform .15s ease-in;
    }

    .index-advantages__item-hover-fill {
        fill: white;
        transition: all 0.3s ease-in;
    }

    &:hover {
        svg {
            transform: scale(1.1);
        }

        .index-advantages__item-hover-fill {
            fill: $primary;
        }
    }
}

.index-advantages__teachers {
    background: $primary;
    color: white;
    padding: 60px;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }
}
</style>
