<template>
    <div class="index-header">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <h1>Препопдаватели нашего ВУЗа высококвалифицированны</h1>
                    <p class="font-weight-light">
                        Принято решение № 419 Сургутского горисполкома «Об учреждении Координационного Центра по
                        методологическому
                        обеспечению системы университетского образования в г. Сургуте». Научным руководителем центра
                        стал заведующий лабораторией
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'IndexHeader',
};
</script>

<style scoped lang="scss">
.index-header {
    background: linear-gradient(to right, rgba(21, 10, 52, 0.41), transparent), url('/images/girl-student-with-laptop-standing-by-window-corridor.jpg') top right;
    background-size: cover;
    color: white;
    padding: 150px 0;
}
</style>
