<template>
    <div class="applicants-header">
        <div class="row">
            <div class="col-12 col-md-7">
                <h1 class="h2">
                    Пройди мини опрос и узнай какая специальность подходит именно тебе!
                </h1>
                <p class="mb-3">
                    Кафедра автоматики и компьютерных систем организована в 1997 году. При открытии она называлась
                    «кафедра автоматики и процессов управления». В связи с расширением специальностей и изменением
                    специфики деятельности в 2002 произведено переименование. Сегодня это кафедра автоматики и
                    компьютерных систем.
                </p>
                <div data-marquiz-id="608fbced19933d0049b80662" />
                <script>
                    (function (t, p) {
                    window.Marquiz ? Marquiz.add([t, p]) : document.addEventListener('marquizLoaded', function () {
                    Marquiz.add([t, p])
                    })
                    })('Button', {
                    id: '608fbced19933d0049b80662',
                    buttonText: 'Вперёд!',
                    bgColor: '#ca1d20',
                    textColor: '#ffffff',
                    blicked: true
                    })
                </script>
            </div>
            <div class="col-12 col-md-5">
                <img src="/images/applicant.png">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'ApplicantHeader',
    methods: {},
};
</script>

<style scoped>
.marquiz__container {
    text-align: left;
}
</style>
