<template>
    <div>
        <v-navbar />
        <Nuxt class="layout__content" />
        <v-footer />
    </div>
</template>

<style lang="scss">
.layout__content {
    padding-top: 100px;
}
</style>
