<template>
    <div class="container">
        <applicant-header />
        <directions-slider />
        <files-slider />
    </div>
</template>

<script>
export default {
    name: 'Applicants',
};
</script>

<style scoped lang="scss">
</style>
