<template>
    <div>
        <div class="container mb-5">
            <h2 class="h3">
                Научные издания
            </h2>
            <div class="row">
                <div class="col-12 col-md-5">
                    <img src="/images/to-journal.png">
                </div>
                <div class="col-12 col-md-7">
                    <h3 class="h4">
                        Вестник кибернетики
                    </h3>
                    <p>Периодичность издания – 4 выпуска в год.</p>
                    <p>Журнал включен в перечень ВАК по 05.00.00 – технические науки.</p>
                    <p>
                        Учредитель – Бюджетное учреждение высшего образования Ханты-Мансийского автономного округа –
                        Югры
                        «Сургутский государственный университет».
                    </p>
                    <p>
                        Адрес редакции: 628412, Ханты-Мансийский автономный округ – Югра, г. Сургут, ул. Энергетиков,
                        22.
                    </p>
                    <p>Тел. +7 (3462) 76-29-88; e-mail: proceed.cyber@mail.com.</p>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <h2 class="h3">
                Сборники научных статей
            </h2>
            <attachment-row v-for="(file, idx) in d_files"
                            :key="idx"
                            :attachment="file"
            />
        </div>
        <div class="container mb-5">
            <h2 class="h3">
                Всемирная инициатива CDIO
            </h2>
            <div class="row align-items-center mb-4">
                <div class="col-12 col-md-7">
                    <svg width="640"
                         height="253"
                         viewBox="0 0 640 253"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle cx="93"
                                cy="93"
                                r="93"
                                fill="#1C6E84"
                        />
                        <g clip-path="url(#clip0)">
                            <path
                                d="M109.053 106.102L109.036 106.117L109.019 106.132C106.028 108.749 103.688 112.049 102.319 115.746H83.8748C82.5012 112.044 80.1348 108.73 76.9454 106.101C71.3647 101.418 67.9428 94.4 68.1218 86.4598C68.485 73.6615 78.9635 62.8475 91.7223 62.3084L91.7295 62.3081L91.7367 62.3077C106.154 61.5868 117.878 73.1187 117.878 87.1876C117.878 94.7571 114.454 101.602 109.053 106.102Z"
                                stroke="white"
                                stroke-width="3.72"
                            />
                            <path
                                d="M90.4812 117.994H92.2249L84.4749 89.1252C84.6687 89.1252 84.8623 89.1252 85.0561 89.1252C86.0248 89.1252 86.9937 88.7378 87.7686 87.9627C88.156 87.5753 88.5436 87.3815 89.1249 87.3815C89.7061 87.3815 90.0936 87.5753 90.4812 87.9627C91.8375 89.5127 94.1625 89.5127 95.5186 87.9627C95.9061 87.5753 96.2937 87.3815 96.8749 87.3815C97.2624 87.3815 97.8436 87.5753 98.2312 87.9627C99.0063 88.7378 99.7812 89.1252 100.944 89.1252C101.137 89.1252 101.331 89.1252 101.525 89.1252L93.9687 117.994H95.7124L103.656 87.7689C103.656 87.3815 103.656 86.9939 103.269 86.8002C102.881 86.6064 102.494 86.8002 102.3 86.9941C101.913 87.3815 101.525 87.5753 101.137 87.5753C100.556 87.5753 100.169 87.3815 99.5875 86.9941C98.8125 86.219 98.0376 85.8316 97.0687 85.8316C96.0999 85.8316 95.325 86.219 94.5499 86.9941C93.7749 87.7691 92.6124 87.7691 91.8375 86.9941C91.2562 86.219 90.2876 85.8316 89.3187 85.8316C88.35 85.8316 87.3811 86.219 86.7999 86.9941C86.4124 87.3815 85.8312 87.5753 85.2499 87.5753C84.8625 87.5753 84.2812 87.3815 84.0874 86.9941C83.8936 86.8002 83.5062 86.6066 83.1188 86.8002C82.7313 86.9941 82.5375 87.3815 82.7313 87.7689L90.4812 117.994Z"
                                fill="white"
                            />
                            <path
                                d="M86.9939 135.431C87.9628 137.756 90.2878 139.5 93.0002 139.5C95.7127 139.5 98.0377 137.756 99.0065 135.431H86.9939Z"
                                fill="white"
                            />
                            <path
                                d="M100.169 135.625H86.0251C84.0875 135.625 82.5376 134.075 82.5376 132.138V117.412H103.656V132.138C103.656 134.075 102.106 135.625 100.169 135.625Z"
                                fill="white"
                            />
                            <path
                                d="M103.462 124.775H82.5374C81.3749 124.775 80.4062 123.806 80.4062 122.644C80.4062 121.481 81.3749 120.512 82.5374 120.512H103.462C104.625 120.512 105.594 121.481 105.594 122.644C105.594 123.806 104.625 124.775 103.462 124.775Z"
                                fill="#1C6E84"
                            />
                            <path
                                d="M103.462 131.556H82.5374C81.3749 131.556 80.4062 130.587 80.4062 129.425C80.4062 128.262 81.3749 127.294 82.5374 127.294H103.462C104.625 127.294 105.594 128.262 105.594 129.425C105.594 130.587 104.625 131.556 103.462 131.556Z"
                                fill="#1C6E84"
                            />
                            <path
                                d="M93.0001 46.5C92.0314 46.5 91.0625 47.2751 91.0625 48.4376V55.0251C91.0625 55.9938 91.8376 56.9627 93.0001 56.9627C94.1626 56.9627 94.9376 56.1876 94.9376 55.0251V48.4376C94.9376 47.2751 93.9688 46.5 93.0001 46.5Z"
                                fill="white"
                            />
                            <path
                                d="M67.0376 58.319C66.2625 57.5439 65.1 57.5439 64.3251 58.319C63.5502 59.094 63.5501 60.2565 64.3251 61.0314L68.9751 65.6814C69.7502 66.4564 70.9127 66.4564 71.6876 65.6814C72.4624 64.9063 72.4626 63.7438 71.6876 62.9689L67.0376 58.319Z"
                                fill="white"
                            />
                            <path
                                d="M61.0312 85.0564H54.4437C53.475 85.0564 52.5061 85.8315 52.5061 86.994C52.5061 87.9626 53.2812 88.9315 54.4437 88.9315H61.0312C61.9999 88.9315 62.9688 88.1565 62.9688 86.994C62.9688 86.0251 61.9999 85.0564 61.0312 85.0564Z"
                                fill="white"
                            />
                            <path
                                d="M68.9749 108.306L64.3249 112.956C63.5499 113.731 63.5499 114.894 64.3249 115.669C65.1 116.443 66.2625 116.444 67.0374 115.669L71.6874 111.019C72.4624 110.244 72.4624 109.081 71.6874 108.306C70.9123 107.531 69.75 107.531 68.9749 108.306Z"
                                fill="white"
                            />
                            <path
                                d="M117.025 108.306C116.25 107.531 115.088 107.531 114.312 108.306C113.537 109.081 113.537 110.244 114.312 111.019L118.963 115.669C119.738 116.444 120.9 116.444 121.675 115.669C122.45 114.894 122.45 113.731 121.675 112.956L117.025 108.306Z"
                                fill="white"
                            />
                            <path
                                d="M131.556 85.0564H124.969C124 85.0564 123.031 85.8315 123.031 86.994C123.031 87.9626 123.806 88.9315 124.969 88.9315H131.556C132.525 88.9315 133.494 88.1565 133.494 86.994C133.494 86.0251 132.719 85.0564 131.556 85.0564Z"
                                fill="white"
                            />
                            <path
                                d="M118.962 58.3187L114.312 62.9687C113.537 63.7437 113.537 64.9062 114.312 65.6811C115.088 66.4562 116.25 66.4562 117.025 65.6811L121.675 61.0311C122.45 60.256 122.45 59.0935 121.675 58.3187C120.9 57.5438 119.738 57.5436 118.962 58.3187Z"
                                fill="white"
                            />
                        </g>
                        <circle cx="247"
                                cy="93"
                                r="93"
                                fill="#CA1D20"
                        />
                        <g clip-path="url(#clip1)">
                            <path
                                d="M268.526 76.4781V82.7217H264.172C263.248 82.7255 262.344 82.4534 261.575 81.9412L259.725 80.708L284.799 55.6323C287.848 52.5844 287.848 47.6426 284.8 44.5947C281.752 41.5461 276.81 41.5461 273.762 44.5939L238.642 79.7142V79.5999H229.503C225.083 79.6105 220.924 81.6897 218.264 85.2193L206.528 100.867C204.215 103.979 204.523 108.315 207.254 111.068L207.269 111.083L206.021 112.332L200.5 128.895L217.062 123.374L220.384 120.052C221.001 121.984 222.792 123.298 224.82 123.305H247.208C249.279 123.31 251.266 122.487 252.726 121.019L255.314 118.434C256.194 117.558 257.384 117.065 258.624 117.061H268.526V123.305H293.5V76.4781H268.526ZM227.839 108.183C224.394 109.255 221.697 111.953 220.625 115.398L216.215 119.808L214.005 117.597L270.452 61.1503L272.654 63.3529L227.839 108.183ZM238.869 101.565V106.135C238.869 106.997 238.17 107.696 237.308 107.696H232.74L238.869 101.565ZM275.971 46.8011C277.151 45.6023 278.883 45.1282 280.509 45.5588C282.135 45.9902 283.404 47.26 283.835 48.8864C284.266 50.5121 283.792 52.2445 282.592 53.4235L279.282 56.7359L272.659 50.1135L275.971 46.8011ZM277.075 58.9431L274.869 61.1503L268.246 54.5271L270.452 52.3199L277.075 58.9431ZM268.244 58.9431L211.797 115.39L209.587 113.18L266.043 56.7404L268.244 58.9431ZM209.461 108.861C207.824 107.208 207.638 104.607 209.025 102.739L220.762 87.0926C222.831 84.3481 226.066 82.7308 229.503 82.7217H235.639L209.477 108.877L209.461 108.861ZM208.066 116.072L213.323 121.331L205.436 123.959L208.066 116.072ZM258.624 113.94C256.554 113.935 254.567 114.758 253.107 116.227L250.519 118.811C249.639 119.687 248.45 120.18 247.208 120.183H224.82C223.958 120.183 223.26 119.484 223.26 118.622C223.265 114.315 226.756 110.823 231.064 110.818H237.308C239.894 110.818 241.99 108.722 241.99 106.135V98.4435L257.474 82.9526L259.842 84.5325C261.124 85.3892 262.631 85.8457 264.172 85.8435H268.526V113.94H258.624ZM290.378 120.183H271.647V79.5999H290.378V120.183Z"
                                fill="white"
                            />
                            <path
                                d="M281.013 117.062C283.599 117.062 285.696 114.966 285.696 112.379C285.696 109.793 283.599 107.696 281.013 107.696C278.427 107.696 276.33 109.793 276.33 112.379C276.33 114.966 278.427 117.062 281.013 117.062ZM281.013 110.818C281.875 110.818 282.574 111.517 282.574 112.379C282.574 113.241 281.875 113.94 281.013 113.94C280.151 113.94 279.452 113.241 279.452 112.379C279.452 111.517 280.151 110.818 281.013 110.818Z"
                                fill="white"
                            />
                        </g>
                        <circle cx="394"
                                cy="93"
                                r="93"
                                fill="#1C6E84"
                        />
                        <path
                            d="M414.583 157.582L340.06 84.4585L358.544 65.6195L433.06 138.746L414.583 157.582ZM420.244 132.601L417.69 130.091L413.968 133.881L411.613 131.563L415.331 127.777L411.824 124.335L406.099 130.17L403.733 127.852L409.462 122.02L406.908 119.514L403.194 123.301L400.834 120.986L404.549 117.196L401.101 113.816L394.771 120.262L392.408 117.944L398.738 111.498L396.184 108.999L391.862 113.4L389.503 111.082L393.822 106.681L390.319 103.243L383.993 109.689L381.63 107.371L387.96 100.925L385.41 98.4187L381.091 102.823L378.732 100.505L383.05 96.1006L379.814 92.9221L373.484 99.3747L371.122 97.0531L377.451 90.6039L374.898 88.1048L370.579 92.5055L368.223 90.1839L372.538 85.7832L369.035 82.3418L362.706 88.791L360.347 86.4728L366.673 80.0236L364.116 77.5176L359.797 81.9218L357.441 79.6037L361.76 75.1995L358.605 72.1063L346.554 84.3902L414.525 151.091L426.573 138.811L422.603 134.912L416.877 140.747L414.518 138.432L420.244 132.601Z"
                            fill="white"
                        />
                        <path
                            d="M397.761 49.8067L398.046 48.8225C399.648 43.2919 398.195 37.1038 393.656 32.7344C391.607 30.7698 387.965 29.7636 383.768 29.5329C380.795 29.3695 377.73 29.6056 375.128 30.0422L378.634 33.5477L388.85 43.3L390.132 44.5236L388.771 45.6581L385.981 47.9831L385.916 48.0372L385.846 48.0841L383.056 49.9441L382.143 50.5528L381.253 49.9103L366.431 39.2054C365.946 41.6692 365.691 44.5043 365.887 47.2328C366.149 50.871 367.19 54.0589 369.255 56.0446L369.255 56.0449C373.99 60.601 380.838 61.9555 386.842 60.0765L387.736 59.7969L388.41 60.4458L388.47 60.5028L432.289 102.642L397.761 49.8067ZM397.761 49.8067L398.543 50.4689M397.761 49.8067L398.543 50.4689M398.543 50.4689L398.864 50.7409M398.543 50.4689L398.864 50.7409M398.864 50.7409L442.649 92.8439C442.649 92.8447 442.65 92.8454 442.651 92.8461L398.864 50.7409ZM442.655 102.639C441.218 104.01 439.351 104.708 437.467 104.708C435.582 104.708 433.714 104.009 432.29 102.643L442.655 102.639Z"
                            stroke="white"
                            stroke-width="3.162"
                        />
                        <circle cx="547"
                                cy="93"
                                r="93"
                                fill="#CA1D20"
                        />
                        <path
                            d="M530.602 128.56H520.432C520.186 128.56 519.948 128.476 519.756 128.322C519.564 128.169 519.429 127.954 519.373 127.713L517.655 120.276C514.968 119.564 512.388 118.488 509.987 117.077L503.561 121.116C503.353 121.247 503.107 121.303 502.863 121.275C502.618 121.247 502.391 121.136 502.217 120.961L495.023 113.71C494.85 113.535 494.74 113.306 494.712 113.061C494.684 112.815 494.739 112.568 494.869 112.358L498.876 105.886C497.476 103.467 496.409 100.868 495.702 98.1594L488.322 96.4407C488.083 96.385 487.869 96.2493 487.716 96.0556C487.563 95.862 487.48 95.6219 487.48 95.3744V85.1147C487.48 84.8673 487.563 84.6272 487.716 84.4335C487.869 84.2399 488.083 84.1042 488.322 84.0485L495.702 82.3298C496.409 79.6223 497.477 77.0238 498.877 74.6055L494.869 68.1314C494.739 67.9214 494.683 67.6733 494.711 67.4273C494.738 67.1814 494.848 66.9522 495.022 66.7772L502.218 59.5269C502.392 59.3523 502.619 59.2421 502.863 59.2143C503.107 59.1865 503.353 59.2426 503.561 59.3736L509.985 63.4109C512.386 62.0005 514.966 60.9244 517.653 60.2122L519.371 52.7747C519.427 52.5338 519.562 52.3192 519.755 52.1657C519.948 52.0122 520.186 51.929 520.432 51.9296H530.602C530.848 51.9297 531.086 52.0136 531.278 52.1677C531.47 52.3217 531.605 52.5369 531.66 52.778L533.366 60.2133C536.054 60.9255 538.633 62.0015 541.033 63.412L547.459 59.3736C547.668 59.2425 547.914 59.1863 548.158 59.2144C548.402 59.2424 548.63 59.353 548.803 59.528L556 66.7783C556.173 66.9534 556.283 67.1824 556.31 67.4281C556.338 67.6738 556.282 67.9217 556.152 68.1314L552.145 74.6033C553.545 77.0216 554.613 79.6201 555.32 82.3276L562.7 84.0463C562.939 84.102 563.153 84.2377 563.306 84.4313C563.458 84.625 563.542 84.8651 563.542 85.1126V95.3722C563.542 95.6197 563.458 95.8598 563.306 96.0534C563.153 96.2471 562.939 96.3828 562.7 96.4385L555.32 98.1572C554.613 100.865 553.545 103.463 552.145 105.881L556.152 112.358C556.282 112.568 556.338 112.816 556.31 113.062C556.282 113.308 556.173 113.537 555.999 113.712L548.802 120.962C548.629 121.137 548.401 121.247 548.157 121.275C547.914 121.303 547.667 121.247 547.459 121.116L541.035 117.078C538.635 118.489 536.056 119.565 533.369 120.277L531.663 127.712C531.607 127.954 531.472 128.169 531.279 128.323C531.087 128.476 530.848 128.56 530.602 128.56ZM521.294 126.37H529.737L531.399 119.131C531.444 118.933 531.543 118.751 531.685 118.607C531.827 118.462 532.006 118.361 532.203 118.313C535.124 117.607 537.916 116.442 540.477 114.86C540.649 114.753 540.847 114.697 541.048 114.697C541.25 114.697 541.448 114.753 541.62 114.86L547.875 118.793L553.852 112.772L549.948 106.475C549.841 106.302 549.785 106.102 549.785 105.899C549.785 105.696 549.841 105.496 549.948 105.323C551.518 102.743 552.675 99.93 553.375 96.9869C553.422 96.7893 553.523 96.6088 553.666 96.4657C553.81 96.3226 553.99 96.2226 554.186 96.1768L561.368 94.503V85.9861L554.182 84.3123C553.985 84.2665 553.805 84.1665 553.662 84.0234C553.519 83.8804 553.418 83.6999 553.37 83.5022C552.67 80.5591 551.514 77.7458 549.943 75.166C549.837 74.993 549.781 74.7936 549.781 74.5902C549.781 74.3867 549.837 74.1873 549.943 74.0143L553.846 67.7121L547.87 61.6911L541.62 65.6245C541.448 65.7307 541.25 65.787 541.048 65.787C540.847 65.787 540.649 65.7307 540.477 65.6245C537.916 64.0421 535.124 62.8769 532.203 62.1717C532.006 62.1241 531.827 62.0224 531.685 61.8779C531.543 61.7335 531.444 61.5521 531.399 61.354L529.737 54.119H521.294L519.622 61.3595C519.577 61.5573 519.477 61.7385 519.335 61.8828C519.193 62.027 519.014 62.1286 518.818 62.1761C515.897 62.8813 513.104 64.0465 510.544 65.6288C510.372 65.7358 510.174 65.7925 509.972 65.7925C509.77 65.7925 509.572 65.7358 509.401 65.6288L503.145 61.6966L497.169 67.7176L501.072 74.0198C501.178 74.1928 501.234 74.3922 501.234 74.5956C501.234 74.7991 501.178 74.9985 501.072 75.1715C499.501 77.7512 498.345 80.5646 497.645 83.5077C497.598 83.7053 497.497 83.8858 497.353 84.0289C497.21 84.172 497.03 84.272 496.833 84.3178L489.653 85.9861V94.503L496.839 96.1768C497.035 96.2226 497.215 96.3226 497.359 96.4657C497.502 96.6088 497.603 96.7893 497.65 96.9869C498.35 99.93 499.507 102.743 501.077 105.323C501.184 105.496 501.24 105.696 501.24 105.899C501.24 106.102 501.184 106.302 501.077 106.475L497.174 112.777L503.151 118.798L509.406 114.866C509.578 114.759 509.776 114.702 509.978 114.702C510.18 114.702 510.377 114.759 510.549 114.866C513.11 116.448 515.902 117.613 518.824 118.319C519.02 118.366 519.199 118.468 519.341 118.612C519.483 118.756 519.582 118.937 519.628 119.135L521.294 126.37Z"
                            fill="white"
                        />
                        <path
                            d="M525.511 113.473C520.95 113.473 516.493 112.111 512.701 109.558C508.91 107.006 505.954 103.378 504.209 99.1336C502.464 94.8891 502.008 90.2186 502.897 85.7127C503.787 81.2067 505.983 77.0678 509.207 73.8192C512.432 70.5706 516.54 68.3583 521.013 67.462C525.485 66.5657 530.121 67.0257 534.334 68.7838C538.547 70.5419 542.148 73.5192 544.681 77.3392C547.215 81.1591 548.567 85.6502 548.567 90.2444C548.56 96.4029 546.129 102.307 541.806 106.662C537.484 111.017 531.623 113.466 525.511 113.473ZM525.511 69.2051C521.38 69.2051 517.343 70.439 513.909 72.7508C510.474 75.0627 507.798 78.3485 506.217 82.193C504.637 86.0374 504.223 90.2677 505.029 94.3489C505.835 98.4301 507.823 102.179 510.744 105.121C513.665 108.064 517.386 110.068 521.436 110.879C525.487 111.691 529.686 111.275 533.502 109.682C537.318 108.09 540.58 105.393 542.874 101.933C545.169 98.4733 546.394 94.4055 546.394 90.2444C546.387 84.6663 544.185 79.3186 540.27 75.3744C536.355 71.4301 531.047 69.2114 525.511 69.2051Z"
                            fill="white"
                        />
                        <path
                            d="M586.458 129.436H580.356C580.209 129.436 580.066 129.386 579.951 129.293C579.836 129.201 579.755 129.072 579.721 128.928L578.69 124.465C577.078 124.038 575.53 123.393 574.09 122.546L570.234 124.969C570.109 125.048 569.961 125.082 569.815 125.065C569.668 125.048 569.532 124.982 569.428 124.877L565.111 120.526C565.007 120.421 564.941 120.284 564.924 120.136C564.908 119.989 564.941 119.841 565.018 119.715L567.423 115.831C566.583 114.38 565.942 112.821 565.519 111.196L561.09 110.164C560.947 110.131 560.819 110.05 560.727 109.933C560.635 109.817 560.585 109.673 560.585 109.525V103.369C560.585 103.22 560.635 103.076 560.727 102.96C560.819 102.844 560.947 102.762 561.09 102.729L565.519 101.698C565.943 100.073 566.583 98.5143 567.424 97.0633L565.018 93.1788C564.94 93.0528 564.907 92.9039 564.924 92.7564C564.94 92.6088 565.006 92.4713 565.11 92.3663L569.428 88.0161C569.533 87.9114 569.669 87.8453 569.815 87.8286C569.962 87.8119 570.109 87.8456 570.234 87.9242L574.088 90.3465C575.529 89.5003 577.077 88.8546 578.689 88.4273L579.72 83.9648C579.754 83.8203 579.835 83.6915 579.95 83.5994C580.066 83.5073 580.209 83.4574 580.356 83.4577H586.458C586.606 83.4578 586.749 83.5081 586.864 83.6006C586.979 83.693 587.06 83.8221 587.093 83.9668L588.117 88.428C589.729 88.8553 591.277 89.5009 592.717 90.3472L596.573 87.9242C596.698 87.8455 596.846 87.8118 596.992 87.8286C597.139 87.8454 597.275 87.9118 597.379 88.0168L601.697 92.367C601.801 92.472 601.867 92.6094 601.883 92.7568C601.9 92.9042 601.866 93.053 601.788 93.1788L599.384 97.062C600.224 98.513 600.865 100.072 601.289 101.697L605.717 102.728C605.861 102.761 605.989 102.843 606.081 102.959C606.172 103.075 606.222 103.219 606.222 103.368V109.523C606.222 109.672 606.172 109.816 606.081 109.932C605.989 110.048 605.861 110.13 605.717 110.163L601.289 111.194C600.865 112.819 600.224 114.378 599.384 115.829L601.788 119.715C601.867 119.841 601.9 119.99 601.883 120.137C601.867 120.285 601.801 120.422 601.696 120.527L597.379 124.877C597.274 124.982 597.138 125.048 596.992 125.065C596.845 125.082 596.698 125.048 596.573 124.969L592.718 122.547C591.278 123.393 589.731 124.039 588.118 124.466L587.095 128.927C587.061 129.072 586.98 129.201 586.865 129.294C586.749 129.386 586.606 129.436 586.458 129.436ZM580.874 128.122H585.94L586.936 123.778C586.964 123.66 587.023 123.551 587.108 123.464C587.194 123.377 587.301 123.316 587.419 123.288C589.171 122.864 590.847 122.165 592.383 121.216C592.486 121.152 592.605 121.118 592.726 121.118C592.847 121.118 592.966 121.152 593.069 121.216L596.823 123.575L600.408 119.963L598.066 116.185C598.002 116.081 597.968 115.961 597.968 115.839C597.968 115.717 598.002 115.598 598.066 115.494C599.008 113.946 599.702 112.258 600.122 110.492C600.15 110.374 600.211 110.265 600.297 110.179C600.383 110.094 600.491 110.034 600.609 110.006L604.918 109.002V103.892L600.606 102.887C600.488 102.86 600.38 102.8 600.294 102.714C600.208 102.628 600.148 102.52 600.119 102.401C599.699 100.635 599.006 98.9474 598.063 97.3996C597.999 97.2958 597.966 97.1761 597.966 97.0541C597.966 96.932 597.999 96.8124 598.063 96.7086L600.405 92.9272L596.819 89.3147L593.069 91.6747C592.966 91.7384 592.847 91.7722 592.726 91.7722C592.605 91.7722 592.487 91.7384 592.383 91.6747C590.847 90.7253 589.172 90.0261 587.419 89.603C587.301 89.5744 587.194 89.5134 587.108 89.4267C587.023 89.3401 586.964 89.2312 586.936 89.1124L585.94 84.7714H580.874L579.871 89.1157C579.843 89.2344 579.784 89.3431 579.698 89.4296C579.613 89.5162 579.506 89.5771 579.388 89.6056C577.635 90.0287 575.96 90.7279 574.423 91.6773C574.32 91.7415 574.202 91.7755 574.081 91.7755C573.959 91.7755 573.841 91.7415 573.738 91.6773L569.984 89.318L566.399 92.9305L568.74 96.7119C568.804 96.8157 568.838 96.9353 568.838 97.0574C568.838 97.1794 568.804 97.2991 568.74 97.4029C567.798 98.9507 567.104 100.639 566.684 102.405C566.656 102.523 566.595 102.631 566.509 102.717C566.423 102.803 566.315 102.863 566.197 102.891L561.889 103.892V109.002L566.2 110.006C566.318 110.034 566.426 110.094 566.512 110.179C566.598 110.265 566.659 110.374 566.687 110.492C567.107 112.258 567.801 113.946 568.744 115.494C568.807 115.598 568.841 115.717 568.841 115.839C568.841 115.961 568.807 116.081 568.744 116.185L566.402 119.966L569.988 123.579L573.741 121.219C573.844 121.155 573.963 121.121 574.084 121.121C574.205 121.121 574.324 121.155 574.427 121.219C575.963 122.169 577.639 122.868 579.391 123.291C579.509 123.32 579.616 123.381 579.702 123.467C579.787 123.554 579.846 123.662 579.874 123.781L580.874 128.122Z"
                            fill="white"
                        />
                        <path
                            d="M583.404 120.384C580.667 120.384 577.993 119.566 575.718 118.035C573.443 116.503 571.67 114.327 570.623 111.78C569.576 109.233 569.302 106.431 569.836 103.727C570.369 101.024 571.687 98.5404 573.622 96.5913C575.556 94.6421 578.021 93.3147 580.705 92.7769C583.388 92.2392 586.17 92.5152 588.697 93.57C591.225 94.6249 593.386 96.4113 594.906 98.7033C596.426 100.995 597.237 103.69 597.237 106.446C597.233 110.141 595.774 113.684 593.181 116.297C590.587 118.91 587.071 120.379 583.404 120.384ZM583.404 93.8228C580.925 93.8228 578.503 94.5631 576.442 95.9502C574.382 97.3373 572.776 99.3089 571.828 101.616C570.879 103.922 570.631 106.46 571.114 108.909C571.598 111.358 572.791 113.607 574.544 115.373C576.296 117.138 578.529 118.34 580.959 118.827C583.39 119.314 585.909 119.064 588.199 118.109C590.488 117.154 592.445 115.536 593.822 113.46C595.199 111.384 595.933 108.943 595.933 106.446C595.93 103.1 594.608 99.8909 592.259 97.5244C589.91 95.1578 586.725 93.8266 583.404 93.8228Z"
                            fill="white"
                        />
                        <g clip-path="url(#clip2)">
                            <path
                                d="M577.399 78.0277H573.331C573.233 78.0277 573.138 77.9943 573.061 77.9328C572.984 77.8714 572.93 77.7855 572.908 77.6892L572.221 74.7142C571.146 74.4295 570.114 73.9991 569.154 73.4347L566.583 75.0501C566.5 75.1026 566.401 75.125 566.304 75.1138C566.206 75.1026 566.115 75.0584 566.046 74.9884L563.168 72.0878C563.099 72.0179 563.055 71.9264 563.043 71.8282C563.032 71.7301 563.054 71.6309 563.106 71.547L564.709 68.9582C564.149 67.9906 563.722 66.9509 563.44 65.8676L560.487 65.1802C560.392 65.1579 560.306 65.1036 560.245 65.0261C560.184 64.9487 560.151 64.8526 560.151 64.7537V60.6498C560.151 60.5508 560.184 60.4548 560.245 60.3773C560.306 60.2999 560.392 60.2456 560.487 60.2233L563.44 59.5358C563.722 58.4528 564.149 57.4134 564.71 56.4461L563.106 53.8564C563.054 53.7725 563.032 53.6732 563.043 53.5748C563.054 53.4765 563.098 53.3848 563.167 53.3148L566.046 50.4147C566.116 50.3448 566.206 50.3007 566.304 50.2896C566.402 50.2785 566.5 50.3009 566.583 50.3534L569.153 51.9683C570.113 51.4041 571.145 50.9737 572.22 50.6888L572.907 47.7138C572.93 47.6174 572.984 47.5316 573.061 47.4702C573.138 47.4088 573.233 47.3755 573.331 47.3757H577.399C577.498 47.3758 577.593 47.4093 577.67 47.471C577.747 47.5326 577.801 47.6187 577.823 47.7151L578.505 50.6892C579.58 50.9741 580.612 51.4045 581.572 51.9687L584.142 50.3534C584.226 50.3009 584.324 50.2784 584.422 50.2896C584.52 50.3009 584.611 50.3451 584.68 50.4151L587.559 53.3152C587.628 53.3852 587.672 53.4769 587.683 53.5751C587.694 53.6734 587.671 53.7726 587.619 53.8564L586.017 56.4452C586.577 57.4126 587.004 58.4519 587.287 59.5349L590.239 60.2224C590.334 60.2447 590.42 60.299 590.481 60.3764C590.542 60.4539 590.575 60.5499 590.575 60.6489V64.7528C590.575 64.8518 590.542 64.9478 590.481 65.0253C590.42 65.1027 590.334 65.157 590.239 65.1793L587.287 65.8668C587.004 66.9498 586.577 67.9891 586.017 68.9565L587.619 71.547C587.672 71.631 587.694 71.7303 587.683 71.8286C587.672 71.927 587.628 72.0187 587.558 72.0887L584.68 74.9888C584.61 75.0586 584.519 75.1027 584.422 75.1138C584.324 75.125 584.226 75.1025 584.142 75.0501L581.573 73.4352C580.613 73.9993 579.581 74.4297 578.506 74.7147L577.824 77.6888C577.801 77.7853 577.747 77.8714 577.67 77.9329C577.593 77.9945 577.498 78.0279 577.399 78.0277ZM573.676 77.1519H577.054L577.718 74.2562C577.736 74.177 577.776 74.1044 577.833 74.0466C577.89 73.9889 577.961 73.9482 578.04 73.9291C579.208 73.6468 580.325 73.1807 581.349 72.548C581.418 72.5052 581.497 72.4825 581.578 72.4825C581.659 72.4825 581.738 72.5052 581.807 72.548L584.309 74.1209L586.699 71.7125L585.138 69.1938C585.095 69.1246 585.073 69.0449 585.073 68.9635C585.073 68.8821 585.095 68.8024 585.138 68.7332C585.766 67.7012 586.229 66.5759 586.509 65.3987C586.527 65.3196 586.568 65.2474 586.625 65.1902C586.683 65.133 586.755 65.0929 586.833 65.0746L589.706 64.4051V60.9984L586.831 60.3288C586.753 60.3105 586.681 60.2705 586.623 60.2133C586.566 60.156 586.526 60.0838 586.507 60.0048C586.227 58.8275 585.764 57.7022 585.136 56.6703C585.093 56.6011 585.071 56.5213 585.071 56.44C585.071 56.3586 585.093 56.2788 585.136 56.2096L586.697 53.6887L584.307 51.2804L581.807 52.8537C581.738 52.8962 581.659 52.9187 581.578 52.9187C581.497 52.9187 581.418 52.8962 581.349 52.8537C580.325 52.2207 579.208 51.7547 578.04 51.4726C577.961 51.4535 577.89 51.4128 577.833 51.3551C577.776 51.2973 577.736 51.2247 577.718 51.1455L577.054 48.2515H573.676L573.008 51.1477C572.989 51.2268 572.95 51.2993 572.893 51.357C572.836 51.4147 572.764 51.4553 572.686 51.4743C571.517 51.7564 570.4 52.2225 569.376 52.8554C569.307 52.8982 569.228 52.9209 569.148 52.9209C569.067 52.9209 568.988 52.8982 568.919 52.8554L566.417 51.2825L564.026 53.6909L565.587 56.2118C565.63 56.281 565.652 56.3608 565.652 56.4422C565.652 56.5235 565.63 56.6033 565.587 56.6725C564.959 57.7044 564.497 58.8297 564.217 60.007C564.198 60.086 564.157 60.1582 564.1 60.2155C564.043 60.2727 563.971 60.3127 563.892 60.331L561.02 60.9984V64.4051L563.894 65.0746C563.973 65.0929 564.045 65.133 564.102 65.1902C564.159 65.2474 564.2 65.3196 564.219 65.3987C564.499 66.5759 564.961 67.7012 565.59 68.7332C565.632 68.8024 565.655 68.8821 565.655 68.9635C565.655 69.0449 565.632 69.1246 565.59 69.1938L564.028 71.7147L566.419 74.1231L568.921 72.5502C568.99 72.5074 569.069 72.4847 569.15 72.4847C569.23 72.4847 569.31 72.5074 569.378 72.5502C570.403 73.1829 571.52 73.649 572.688 73.9313C572.766 73.9503 572.838 73.9909 572.895 74.0486C572.952 74.1063 572.991 74.1788 573.01 74.258L573.676 77.1519Z"
                                fill="white"
                            />
                            <mask id="path-27-inside-1"
                                  fill="white"
                            >
                                <path
                                    d="M575.363 71.9933C573.539 71.9933 571.756 71.4483 570.239 70.4274C568.722 69.4064 567.54 67.9553 566.842 66.2575C566.144 64.5597 565.961 62.6915 566.317 60.8891C566.673 59.0867 567.552 57.4311 568.841 56.1317C570.131 54.8323 571.774 53.9473 573.563 53.5888C575.352 53.2303 577.207 53.4143 578.892 54.1176C580.577 54.8208 582.017 56.0117 583.031 57.5397C584.044 59.0677 584.585 60.8641 584.585 62.7018C584.582 65.1652 583.61 67.5269 581.881 69.2688C580.152 71.0107 577.808 71.9905 575.363 71.9933ZM575.363 54.2861C573.711 54.2861 572.096 54.7796 570.722 55.7044C569.348 56.6291 568.277 57.9435 567.645 59.4812C567.013 61.019 566.848 62.7111 567.17 64.3436C567.492 65.9761 568.288 67.4756 569.456 68.6526C570.624 69.8296 572.113 70.6311 573.733 70.9558C575.353 71.2805 577.033 71.1139 578.559 70.4769C580.086 69.8399 581.39 68.7613 582.308 67.3773C583.226 65.9934 583.716 64.3663 583.716 62.7018C583.713 60.4706 582.832 58.3315 581.266 56.7538C579.7 55.1761 577.577 54.2886 575.363 54.2861Z"
                                />
                            </mask>
                            <path
                                d="M575.363 71.9933C573.539 71.9933 571.756 71.4483 570.239 70.4274C568.722 69.4064 567.54 67.9553 566.842 66.2575C566.144 64.5597 565.961 62.6915 566.317 60.8891C566.673 59.0867 567.552 57.4311 568.841 56.1317C570.131 54.8323 571.774 53.9473 573.563 53.5888C575.352 53.2303 577.207 53.4143 578.892 54.1176C580.577 54.8208 582.017 56.0117 583.031 57.5397C584.044 59.0677 584.585 60.8641 584.585 62.7018C584.582 65.1652 583.61 67.5269 581.881 69.2688C580.152 71.0107 577.808 71.9905 575.363 71.9933ZM575.363 54.2861C573.711 54.2861 572.096 54.7796 570.722 55.7044C569.348 56.6291 568.277 57.9435 567.645 59.4812C567.013 61.019 566.848 62.7111 567.17 64.3436C567.492 65.9761 568.288 67.4756 569.456 68.6526C570.624 69.8296 572.113 70.6311 573.733 70.9558C575.353 71.2805 577.033 71.1139 578.559 70.4769C580.086 69.8399 581.39 68.7613 582.308 67.3773C583.226 65.9934 583.716 64.3663 583.716 62.7018C583.713 60.4706 582.832 58.3315 581.266 56.7538C579.7 55.1761 577.577 54.2886 575.363 54.2861Z"
                                fill="white"
                            />
                            <path
                                d="M584.585 62.7018L588.305 62.706V62.7018H584.585ZM583.716 62.7018H587.436L587.436 62.6976L583.716 62.7018ZM575.363 68.2733C574.281 68.2733 573.22 67.9501 572.316 67.3415L568.162 73.5133C570.291 74.9465 572.797 75.7133 575.363 75.7133V68.2733ZM572.316 67.3415C571.412 66.7326 570.703 65.8642 570.283 64.8429L563.402 67.672C564.378 70.0464 566.033 72.0803 568.162 73.5133L572.316 67.3415ZM570.283 64.8429C569.863 63.8215 569.752 62.6959 569.967 61.6097L562.668 60.1686C562.171 62.6871 562.426 65.2979 563.402 67.672L570.283 64.8429ZM569.967 61.6097C570.181 60.5236 570.71 59.5297 571.482 58.7523L566.201 53.5111C564.393 55.3326 563.165 57.6499 562.668 60.1686L569.967 61.6097ZM571.482 58.7523C572.253 57.9752 573.232 57.4491 574.294 57.2363L572.832 49.9414C570.317 50.4455 568.009 51.6893 566.201 53.5111L571.482 58.7523ZM574.294 57.2363C575.356 57.0235 576.457 57.1325 577.459 57.5506L580.325 50.6845C577.956 49.6962 575.349 49.4371 572.832 49.9414L574.294 57.2363ZM577.459 57.5506C578.462 57.9689 579.323 58.6791 579.931 59.5958L586.131 55.4836C584.712 53.3443 582.693 51.6727 580.325 50.6845L577.459 57.5506ZM579.931 59.5958C580.539 60.5128 580.865 61.5937 580.865 62.7018H588.305C588.305 60.1345 587.55 57.6226 586.131 55.4836L579.931 59.5958ZM580.865 62.6976C580.863 64.1848 580.276 65.605 579.241 66.6482L584.521 71.8894C586.944 69.4488 588.301 66.1456 588.305 62.706L580.865 62.6976ZM579.241 66.6482C578.206 67.6904 576.809 68.2716 575.358 68.2733L575.367 75.7133C578.806 75.7094 582.098 74.3309 584.521 71.8894L579.241 66.6482ZM575.363 50.5661C572.969 50.5661 570.631 51.2814 568.644 52.6185L572.799 58.7903C573.56 58.2778 574.452 58.0061 575.363 58.0061V50.5661ZM568.644 52.6185C566.659 53.9552 565.115 55.8523 564.205 58.0667L571.086 60.8958C571.44 60.0346 572.038 59.303 572.799 58.7903L568.644 52.6185ZM564.205 58.0667C563.294 60.2808 563.057 62.7155 563.52 65.0642L570.819 63.6231C570.639 62.7067 570.732 61.7572 571.086 60.8958L564.205 58.0667ZM563.52 65.0642C563.984 67.413 565.129 69.5742 566.816 71.2732L572.096 66.032C571.446 65.377 571 64.5392 570.819 63.6231L563.52 65.0642ZM566.816 71.2732C568.502 72.9725 570.655 74.1329 573.002 74.6033L574.464 67.3083C573.571 67.1293 572.746 66.6866 572.096 66.032L566.816 71.2732ZM573.002 74.6033C575.349 75.0737 577.782 74.832 579.992 73.91L577.127 67.0438C576.283 67.3957 575.357 67.4873 574.464 67.3083L573.002 74.6033ZM579.992 73.91C582.201 72.988 584.085 71.4287 585.408 69.4334L579.208 65.3212C578.695 66.0939 577.97 66.6918 577.127 67.0438L579.992 73.91ZM585.408 69.4334C586.731 67.4384 587.436 65.0959 587.436 62.7018H579.996C579.996 63.6367 579.721 64.5483 579.208 65.3212L585.408 69.4334ZM587.436 62.6976C587.432 59.4901 586.166 56.4096 583.907 54.1332L578.626 59.3744C579.499 60.2534 579.994 61.451 579.996 62.706L587.436 62.6976ZM583.907 54.1332C581.646 51.8559 578.576 50.5698 575.367 50.5661L575.358 58.0061C576.579 58.0075 577.755 58.4963 578.626 59.3744L583.907 54.1332Z"
                                fill="white"
                                mask="url(#path-27-inside-1)"
                            />
                        </g>
                        <path
                            d="M45.0789 218.248C43.6206 218.986 41.7247 219.355 39.3914 219.355C36.4109 219.355 34.032 218.449 32.2547 216.635C30.4865 214.812 29.6023 212.387 29.6023 209.361C29.6023 206.189 30.5913 203.596 32.5691 201.582C34.547 199.559 37.0854 198.547 40.1844 198.547C42.1349 198.547 43.7664 198.807 45.0789 199.326V203.127C43.7117 202.334 42.1622 201.938 40.4305 201.938C38.3979 201.938 36.7664 202.598 35.5359 203.92C34.3146 205.242 33.7039 206.964 33.7039 209.088C33.7039 211.175 34.2872 212.843 35.4539 214.092C36.6206 215.34 38.1746 215.965 40.116 215.965C41.948 215.965 43.6023 215.527 45.0789 214.652V218.248ZM48.1852 211.904C48.1852 209.553 48.8779 207.698 50.2633 206.34C51.6487 204.973 53.5263 204.289 55.8961 204.289C58.1839 204.289 59.9885 204.959 61.3102 206.299C62.6409 207.63 63.3063 209.416 63.3063 211.658C63.3063 213.992 62.6181 215.86 61.2418 217.264C59.8746 218.658 58.0198 219.355 55.6773 219.355C53.3805 219.355 51.5576 218.686 50.2086 217.346C48.8596 215.997 48.1852 214.183 48.1852 211.904ZM52.0406 211.85C52.0406 214.867 53.2939 216.375 55.8004 216.375C58.2158 216.375 59.4234 214.83 59.4234 211.74C59.4234 208.751 58.2112 207.256 55.7867 207.256C54.6018 207.256 53.6813 207.666 53.025 208.486C52.3688 209.298 52.0406 210.419 52.0406 211.85ZM80.4262 219H76.6254V210.947C76.6254 208.486 75.7367 207.256 73.9594 207.256C73.0661 207.256 72.337 207.593 71.7719 208.268C71.2159 208.933 70.9379 209.781 70.9379 210.811V219H67.1234V204.631H70.9379V206.941H70.9789C72.0362 205.173 73.5902 204.289 75.641 204.289C78.8311 204.289 80.4262 206.262 80.4262 210.209V219ZM95.4406 218.439C94.4107 219.05 93.0025 219.355 91.216 219.355C89.065 219.355 87.3195 218.695 85.9797 217.373C84.649 216.042 83.9836 214.306 83.9836 212.164C83.9836 209.721 84.6991 207.798 86.1301 206.395C87.5611 204.991 89.4706 204.289 91.8586 204.289C93.4172 204.289 94.6112 204.517 95.4406 204.973V208.322C94.4745 207.611 93.4081 207.256 92.2414 207.256C90.9107 207.256 89.8443 207.675 89.0422 208.514C88.2401 209.343 87.8391 210.469 87.8391 211.891C87.8391 213.294 88.2173 214.393 88.9738 215.186C89.7303 215.979 90.7694 216.375 92.091 216.375C93.2486 216.375 94.3651 216.01 95.4406 215.281V218.439ZM111.713 212.889H102.115C102.27 215.331 103.656 216.553 106.271 216.553C107.867 216.553 109.288 216.133 110.537 215.295V218.193C109.206 218.968 107.497 219.355 105.41 219.355C103.177 219.355 101.436 218.708 100.188 217.414C98.9479 216.12 98.3281 214.311 98.3281 211.986C98.3281 209.708 98.9935 207.857 100.324 206.436C101.664 205.005 103.337 204.289 105.342 204.289C107.347 204.289 108.91 204.904 110.031 206.135C111.152 207.365 111.713 209.056 111.713 211.207V212.889ZM108.117 210.387C108.117 208.108 107.178 206.969 105.301 206.969C104.517 206.969 103.824 207.279 103.223 207.898C102.63 208.518 102.261 209.348 102.115 210.387H108.117ZM114.942 199.9C114.942 199.317 115.147 198.829 115.557 198.438C115.977 198.046 116.514 197.85 117.171 197.85C117.809 197.85 118.342 198.046 118.77 198.438C119.199 198.82 119.413 199.308 119.413 199.9C119.413 200.493 119.199 200.985 118.77 201.377C118.351 201.769 117.818 201.965 117.171 201.965C116.524 201.965 115.99 201.764 115.571 201.363C115.152 200.962 114.942 200.475 114.942 199.9ZM115.243 219V204.631H119.044V219H115.243ZM136.67 204.631L131.201 219H126.976L121.781 204.631H125.882L128.712 213.955C128.977 214.839 129.141 215.632 129.205 216.334H129.273C129.346 215.65 129.51 214.88 129.765 214.023L132.677 204.631H136.67ZM151.93 212.889H142.332C142.487 215.331 143.873 216.553 146.489 216.553C148.084 216.553 149.506 216.133 150.754 215.295V218.193C149.424 218.968 147.715 219.355 145.627 219.355C143.394 219.355 141.653 218.708 140.405 217.414C139.165 216.12 138.545 214.311 138.545 211.986C138.545 209.708 139.211 207.857 140.541 206.436C141.881 205.005 143.554 204.289 145.559 204.289C147.564 204.289 149.127 204.904 150.248 206.135C151.37 207.365 151.93 209.056 151.93 211.207V212.889ZM148.334 210.387C148.334 208.108 147.396 206.969 145.518 206.969C144.734 206.969 144.041 207.279 143.44 207.898C142.847 208.518 142.478 209.348 142.332 210.387H148.334ZM34.1846 248.936C32.3506 246.814 31.4336 244.198 31.4336 241.087C31.4336 237.876 32.3594 235.204 34.2109 233.071H35.2568C33.376 235.274 32.4355 237.94 32.4355 241.069C32.4355 244.063 33.3672 246.686 35.2305 248.936H34.1846ZM43.6846 246V237.712H38.5166V246H37.4443V236.763H44.7568V246H43.6846ZM53.6328 246V237.712H51.1455C50.9053 240.759 50.5068 242.924 49.9502 244.207C49.3936 245.484 48.6113 246.123 47.6035 246.123C47.3984 246.123 47.1934 246.094 46.9883 246.035V245.095C47.1289 245.171 47.3164 245.209 47.5508 245.209C48.2656 245.209 48.8398 244.526 49.2734 243.161C49.707 241.796 50.0234 239.663 50.2227 236.763H54.7051V246H53.6328ZM63.5547 246V244.304H63.5195C63.2207 244.907 62.8076 245.379 62.2803 245.719C61.7529 246.059 61.1553 246.229 60.4873 246.229C59.6143 246.229 58.9141 245.988 58.3867 245.508C57.8652 245.021 57.6045 244.383 57.6045 243.592C57.6045 241.928 58.6504 240.943 60.7422 240.639L63.5547 240.226C63.5547 238.397 62.8516 237.483 61.4453 237.483C60.4023 237.483 59.4062 237.882 58.457 238.679V237.492C59.4355 236.865 60.4639 236.552 61.542 236.552C62.5498 236.552 63.3145 236.842 63.8359 237.422C64.3633 237.996 64.627 238.854 64.627 239.997V246H63.5547ZM58.7119 243.53C58.7119 244.052 58.8877 244.477 59.2393 244.805C59.5967 245.127 60.0713 245.288 60.6631 245.288C61.4893 245.288 62.1777 244.989 62.7285 244.392C63.2793 243.788 63.5547 243.012 63.5547 242.062V241.148L61.1377 241.491C60.2236 241.62 59.5908 241.84 59.2393 242.15C58.8877 242.461 58.7119 242.921 58.7119 243.53ZM74.1533 246V241.676H68.9854V246H67.9131V236.763H68.9854V240.735H74.1533V236.763H75.2256V246H74.1533ZM85.1035 246V238.415L84.8486 238.811L79.6543 246H78.7139V236.763H79.7334V244.277C79.8271 244.072 79.9326 243.888 80.0498 243.724L85.1387 236.763H86.1318V246H85.1035ZM90.6748 244.479V250.245H89.6025V236.763H90.6748V238.573H90.71C91.0264 237.94 91.4775 237.445 92.0635 237.088C92.6494 236.73 93.3145 236.552 94.0586 236.552C95.2188 236.552 96.1357 236.956 96.8096 237.765C97.4834 238.567 97.8203 239.672 97.8203 241.078C97.8203 242.637 97.4395 243.885 96.6777 244.822C95.916 245.76 94.9111 246.229 93.6631 246.229C92.3447 246.229 91.3604 245.646 90.71 244.479H90.6748ZM90.6748 242.142C90.6748 243.021 90.9531 243.765 91.5098 244.374C92.0664 244.983 92.7783 245.288 93.6455 245.288C94.5537 245.288 95.292 244.91 95.8604 244.154C96.4287 243.398 96.7129 242.373 96.7129 241.078C96.7129 239.982 96.458 239.109 95.9482 238.459C95.4385 237.809 94.7441 237.483 93.8652 237.483C93.2441 237.483 92.6875 237.633 92.1953 237.932C91.709 238.23 91.334 238.644 91.0703 239.171C90.8066 239.692 90.6748 240.278 90.6748 240.929V242.142ZM104.394 246.229C103.515 246.229 102.738 246.032 102.064 245.64C101.396 245.247 100.881 244.69 100.518 243.97C100.154 243.243 99.9727 242.405 99.9727 241.456C99.9727 239.95 100.38 238.758 101.194 237.879C102.015 236.994 103.131 236.552 104.543 236.552C105.873 236.552 106.922 236.979 107.689 237.835C108.457 238.69 108.841 239.874 108.841 241.386C108.841 242.839 108.442 244.011 107.646 244.901C106.849 245.786 105.765 246.229 104.394 246.229ZM104.473 237.483C103.436 237.483 102.612 237.835 102.003 238.538C101.394 239.235 101.089 240.205 101.089 241.447C101.089 242.625 101.391 243.56 101.994 244.251C102.598 244.942 103.415 245.288 104.446 245.288C105.495 245.288 106.304 244.945 106.872 244.26C107.446 243.574 107.733 242.619 107.733 241.395C107.733 240.123 107.452 239.153 106.89 238.485C106.327 237.817 105.521 237.483 104.473 237.483ZM118.49 243.346C118.49 244.119 118.221 244.755 117.682 245.253C117.143 245.751 116.457 246 115.625 246H111.661V236.763H115.361C116.229 236.763 116.905 236.962 117.392 237.36C117.884 237.753 118.13 238.301 118.13 239.004C118.13 239.584 117.978 240.067 117.673 240.454C117.368 240.835 116.938 241.084 116.381 241.201C117.078 241.283 117.603 241.518 117.954 241.904C118.312 242.285 118.49 242.766 118.49 243.346ZM117.031 239.153C117.031 238.679 116.876 238.321 116.565 238.081C116.255 237.835 115.812 237.712 115.238 237.712H112.733V240.779H115.027C115.666 240.779 116.158 240.645 116.504 240.375C116.855 240.105 117.031 239.698 117.031 239.153ZM117.392 243.372C117.392 242.827 117.198 242.417 116.812 242.142C116.431 241.866 115.877 241.729 115.15 241.729H112.733V245.051H115.423C116.079 245.051 116.571 244.901 116.899 244.603C117.228 244.304 117.392 243.894 117.392 243.372ZM126.742 246V244.304H126.707C126.408 244.907 125.995 245.379 125.468 245.719C124.94 246.059 124.343 246.229 123.675 246.229C122.802 246.229 122.102 245.988 121.574 245.508C121.053 245.021 120.792 244.383 120.792 243.592C120.792 241.928 121.838 240.943 123.93 240.639L126.742 240.226C126.742 238.397 126.039 237.483 124.633 237.483C123.59 237.483 122.594 237.882 121.645 238.679V237.492C122.623 236.865 123.651 236.552 124.729 236.552C125.737 236.552 126.502 236.842 127.023 237.422C127.551 237.996 127.814 238.854 127.814 239.997V246H126.742ZM121.899 243.53C121.899 244.052 122.075 244.477 122.427 244.805C122.784 245.127 123.259 245.288 123.851 245.288C124.677 245.288 125.365 244.989 125.916 244.392C126.467 243.788 126.742 243.012 126.742 242.062V241.148L124.325 241.491C123.411 241.62 122.778 241.84 122.427 242.15C122.075 242.461 121.899 242.921 121.899 243.53ZM133.711 237.712V246H132.639V237.712H129.87V236.763H136.479V237.712H133.711ZM145.303 243.196C145.303 244.034 145.033 244.711 144.494 245.227C143.961 245.742 143.278 246 142.446 246H138.702V236.763H139.774V240.463H142.358C143.272 240.463 143.99 240.706 144.512 241.192C145.039 241.679 145.303 242.347 145.303 243.196ZM144.195 243.196C144.195 242.64 144.017 242.203 143.659 241.887C143.308 241.57 142.801 241.412 142.139 241.412H139.774V245.051H142.156C142.818 245.051 143.322 244.893 143.668 244.576C144.02 244.254 144.195 243.794 144.195 243.196ZM146.77 248.936C148.633 246.68 149.564 244.058 149.564 241.069C149.564 237.952 148.624 235.286 146.743 233.071H147.798C149.644 235.216 150.566 237.888 150.566 241.087C150.566 244.198 149.649 246.814 147.815 248.936H146.77Z"
                            fill="black"
                        />
                        <path
                            d="M201.06 219V198.875H207.732C214.86 198.875 218.423 202.147 218.423 208.691C218.423 211.809 217.416 214.306 215.402 216.184C213.397 218.061 210.813 219 207.65 219H201.06ZM204.957 202.115V215.773H207.418C209.578 215.773 211.268 215.149 212.49 213.9C213.711 212.643 214.322 210.924 214.322 208.746C214.322 206.604 213.711 204.964 212.49 203.824C211.268 202.685 209.587 202.115 207.445 202.115H204.957ZM234.764 212.889H225.166C225.321 215.331 226.707 216.553 229.323 216.553C230.918 216.553 232.34 216.133 233.588 215.295V218.193C232.258 218.968 230.549 219.355 228.461 219.355C226.228 219.355 224.487 218.708 223.239 217.414C221.999 216.12 221.379 214.311 221.379 211.986C221.379 209.708 222.045 207.857 223.375 206.436C224.715 205.005 226.388 204.289 228.393 204.289C230.398 204.289 231.961 204.904 233.082 206.135C234.204 207.365 234.764 209.056 234.764 211.207V212.889ZM231.168 210.387C231.168 208.108 230.23 206.969 228.352 206.969C227.568 206.969 226.875 207.279 226.274 207.898C225.681 208.518 225.312 209.348 225.166 210.387H231.168ZM237.87 215.309C239.292 216.202 240.696 216.648 242.081 216.648C243.868 216.648 244.761 216.143 244.761 215.131C244.761 214.429 244.055 213.837 242.642 213.354C240.582 212.661 239.274 211.982 238.718 211.316C238.162 210.642 237.884 209.781 237.884 208.732C237.884 207.347 238.449 206.262 239.579 205.479C240.71 204.686 242.163 204.289 243.941 204.289C245.18 204.289 246.42 204.485 247.659 204.877V207.98C246.538 207.315 245.312 206.982 243.982 206.982C243.28 206.982 242.715 207.115 242.286 207.379C241.858 207.643 241.644 207.994 241.644 208.432C241.644 209.152 242.241 209.721 243.435 210.141C244.793 210.633 245.791 211.048 246.429 211.385C247.067 211.713 247.564 212.164 247.919 212.738C248.275 213.312 248.452 213.987 248.452 214.762C248.452 216.22 247.869 217.35 246.702 218.152C245.545 218.954 244.014 219.355 242.109 219.355C240.504 219.355 239.092 219.1 237.87 218.59V215.309ZM251.627 199.9C251.627 199.317 251.832 198.829 252.242 198.438C252.661 198.046 253.199 197.85 253.855 197.85C254.493 197.85 255.027 198.046 255.455 198.438C255.883 198.82 256.098 199.308 256.098 199.9C256.098 200.493 255.883 200.985 255.455 201.377C255.036 201.769 254.503 201.965 253.855 201.965C253.208 201.965 252.675 201.764 252.256 201.363C251.837 200.962 251.627 200.475 251.627 199.9ZM251.928 219V204.631H255.729V219H251.928ZM273.915 217.51C273.915 220.171 273.181 222.208 271.714 223.621C270.246 225.043 268.118 225.754 265.329 225.754C263.433 225.754 261.893 225.458 260.708 224.865V221.557C262.212 222.423 263.72 222.855 265.233 222.855C266.783 222.855 267.981 222.441 268.829 221.611C269.686 220.791 270.114 219.62 270.114 218.098V216.826H270.059C269.02 218.512 267.485 219.355 265.452 219.355C263.665 219.355 262.225 218.713 261.132 217.428C260.038 216.143 259.491 214.411 259.491 212.232C259.491 209.817 260.088 207.889 261.282 206.449C262.485 205.009 264.067 204.289 266.026 204.289C267.804 204.289 269.148 204.991 270.059 206.395H270.114V204.631H273.915V217.51ZM270.155 210.797C270.155 209.822 269.85 208.988 269.239 208.295C268.628 207.602 267.854 207.256 266.915 207.256C265.821 207.256 264.951 207.68 264.304 208.527C263.665 209.375 263.346 210.56 263.346 212.082C263.346 213.395 263.652 214.438 264.262 215.213C264.873 215.988 265.684 216.375 266.696 216.375C267.726 216.375 268.56 215.988 269.198 215.213C269.836 214.438 270.155 213.44 270.155 212.219V210.797ZM291.896 219H288.095V210.947C288.095 208.486 287.207 207.256 285.429 207.256C284.536 207.256 283.807 207.593 283.242 208.268C282.686 208.933 282.408 209.781 282.408 210.811V219H278.593V204.631H282.408V206.941H282.449C283.506 205.173 285.06 204.289 287.111 204.289C290.301 204.289 291.896 206.262 291.896 210.209V219ZM180.642 248.936C178.808 246.814 177.891 244.198 177.891 241.087C177.891 237.876 178.816 235.204 180.668 233.071H181.714C179.833 235.274 178.893 237.94 178.893 241.069C178.893 244.063 179.824 246.686 181.688 248.936H180.642ZM190.142 246V237.712H184.974V246H183.901V236.763H191.214V246H190.142ZM195.774 244.479V250.245H194.702V236.763H195.774V238.573H195.81C196.126 237.94 196.577 237.445 197.163 237.088C197.749 236.73 198.414 236.552 199.158 236.552C200.318 236.552 201.235 236.956 201.909 237.765C202.583 238.567 202.92 239.672 202.92 241.078C202.92 242.637 202.539 243.885 201.777 244.822C201.016 245.76 200.011 246.229 198.763 246.229C197.444 246.229 196.46 245.646 195.81 244.479H195.774ZM195.774 242.142C195.774 243.021 196.053 243.765 196.609 244.374C197.166 244.983 197.878 245.288 198.745 245.288C199.653 245.288 200.392 244.91 200.96 244.154C201.528 243.398 201.812 242.373 201.812 241.078C201.812 239.982 201.558 239.109 201.048 238.459C200.538 237.809 199.844 237.483 198.965 237.483C198.344 237.483 197.787 237.633 197.295 237.932C196.809 238.23 196.434 238.644 196.17 239.171C195.906 239.692 195.774 240.278 195.774 240.929V242.142ZM209.493 246.229C208.614 246.229 207.838 246.032 207.164 245.64C206.496 245.247 205.98 244.69 205.617 243.97C205.254 243.243 205.072 242.405 205.072 241.456C205.072 239.95 205.479 238.758 206.294 237.879C207.114 236.994 208.23 236.552 209.643 236.552C210.973 236.552 212.021 236.979 212.789 237.835C213.557 238.69 213.94 239.874 213.94 241.386C213.94 242.839 213.542 244.011 212.745 244.901C211.948 245.786 210.864 246.229 209.493 246.229ZM209.572 237.483C208.535 237.483 207.712 237.835 207.103 238.538C206.493 239.235 206.188 240.205 206.188 241.447C206.188 242.625 206.49 243.56 207.094 244.251C207.697 244.942 208.515 245.288 209.546 245.288C210.595 245.288 211.403 244.945 211.972 244.26C212.546 243.574 212.833 242.619 212.833 241.395C212.833 240.123 212.552 239.153 211.989 238.485C211.427 237.817 210.621 237.483 209.572 237.483ZM217.227 241.544C217.227 242.704 217.505 243.618 218.062 244.286C218.624 244.954 219.406 245.288 220.408 245.288C221.451 245.288 222.438 244.919 223.37 244.181V245.253C222.474 245.903 221.404 246.229 220.162 246.229C218.902 246.229 217.909 245.795 217.183 244.928C216.462 244.055 216.102 242.868 216.102 241.368C216.102 240.466 216.28 239.646 216.638 238.907C217.001 238.163 217.502 237.586 218.141 237.176C218.785 236.76 219.497 236.552 220.276 236.552C221.437 236.552 222.336 236.944 222.975 237.729C223.613 238.515 223.933 239.613 223.933 241.025V241.544H217.227ZM222.825 240.595C222.802 239.61 222.567 238.846 222.122 238.301C221.677 237.756 221.053 237.483 220.25 237.483C219.436 237.483 218.765 237.762 218.237 238.318C217.71 238.875 217.382 239.634 217.253 240.595H222.825ZM232.044 246L227.808 241.509H227.772V246H226.7V236.763H227.772V241.113H227.808L231.93 236.763H233.327L228.941 241.254L233.556 246H232.044ZM238.266 237.712V246H237.193V237.712H234.425V236.763H241.034V237.712H238.266ZM249.646 246V238.415L249.392 238.811L244.197 246H243.257V236.763H244.276V244.277C244.37 244.072 244.476 243.888 244.593 243.724L249.682 236.763H250.675V246H249.646ZM255.218 244.479V250.245H254.146V236.763H255.218V238.573H255.253C255.569 237.94 256.021 237.445 256.606 237.088C257.192 236.73 257.857 236.552 258.602 236.552C259.762 236.552 260.679 236.956 261.353 237.765C262.026 238.567 262.363 239.672 262.363 241.078C262.363 242.637 261.982 243.885 261.221 244.822C260.459 245.76 259.454 246.229 258.206 246.229C256.888 246.229 255.903 245.646 255.253 244.479H255.218ZM255.218 242.142C255.218 243.021 255.496 243.765 256.053 244.374C256.609 244.983 257.321 245.288 258.188 245.288C259.097 245.288 259.835 244.91 260.403 244.154C260.972 243.398 261.256 242.373 261.256 241.078C261.256 239.982 261.001 239.109 260.491 238.459C259.981 237.809 259.287 237.483 258.408 237.483C257.787 237.483 257.23 237.633 256.738 237.932C256.252 238.23 255.877 238.644 255.613 239.171C255.35 239.692 255.218 240.278 255.218 240.929V242.142ZM268.937 246.229C268.058 246.229 267.281 246.032 266.607 245.64C265.939 245.247 265.424 244.69 265.061 243.97C264.697 243.243 264.516 242.405 264.516 241.456C264.516 239.95 264.923 238.758 265.737 237.879C266.558 236.994 267.674 236.552 269.086 236.552C270.416 236.552 271.465 236.979 272.232 237.835C273 238.69 273.384 239.874 273.384 241.386C273.384 242.839 272.985 244.011 272.188 244.901C271.392 245.786 270.308 246.229 268.937 246.229ZM269.016 237.483C267.979 237.483 267.155 237.835 266.546 238.538C265.937 239.235 265.632 240.205 265.632 241.447C265.632 242.625 265.934 243.56 266.537 244.251C267.141 244.942 267.958 245.288 268.989 245.288C270.038 245.288 270.847 244.945 271.415 244.26C271.989 243.574 272.276 242.619 272.276 241.395C272.276 240.123 271.995 239.153 271.433 238.485C270.87 237.817 270.064 237.483 269.016 237.483ZM283.033 243.346C283.033 244.119 282.764 244.755 282.225 245.253C281.686 245.751 281 246 280.168 246H276.204V236.763H279.904C280.771 236.763 281.448 236.962 281.935 237.36C282.427 237.753 282.673 238.301 282.673 239.004C282.673 239.584 282.521 240.067 282.216 240.454C281.911 240.835 281.48 241.084 280.924 241.201C281.621 241.283 282.146 241.518 282.497 241.904C282.854 242.285 283.033 242.766 283.033 243.346ZM281.574 239.153C281.574 238.679 281.419 238.321 281.108 238.081C280.798 237.835 280.355 237.712 279.781 237.712H277.276V240.779H279.57C280.209 240.779 280.701 240.645 281.047 240.375C281.398 240.105 281.574 239.698 281.574 239.153ZM281.935 243.372C281.935 242.827 281.741 242.417 281.354 242.142C280.974 241.866 280.42 241.729 279.693 241.729H277.276V245.051H279.966C280.622 245.051 281.114 244.901 281.442 244.603C281.771 244.304 281.935 243.894 281.935 243.372ZM291.285 246V244.304H291.25C290.951 244.907 290.538 245.379 290.011 245.719C289.483 246.059 288.886 246.229 288.218 246.229C287.345 246.229 286.645 245.988 286.117 245.508C285.596 245.021 285.335 244.383 285.335 243.592C285.335 241.928 286.381 240.943 288.473 240.639L291.285 240.226C291.285 238.397 290.582 237.483 289.176 237.483C288.133 237.483 287.137 237.882 286.188 238.679V237.492C287.166 236.865 288.194 236.552 289.272 236.552C290.28 236.552 291.045 236.842 291.566 237.422C292.094 237.996 292.357 238.854 292.357 239.997V246H291.285ZM286.442 243.53C286.442 244.052 286.618 244.477 286.97 244.805C287.327 245.127 287.802 245.288 288.394 245.288C289.22 245.288 289.908 244.989 290.459 244.392C291.01 243.788 291.285 243.012 291.285 242.062V241.148L288.868 241.491C287.954 241.62 287.321 241.84 286.97 242.15C286.618 242.461 286.442 242.921 286.442 243.53ZM298.254 237.712V246H297.182V237.712H294.413V236.763H301.022V237.712H298.254ZM309.846 243.196C309.846 244.034 309.576 244.711 309.037 245.227C308.504 245.742 307.821 246 306.989 246H303.245V236.763H304.317V240.463H306.901C307.815 240.463 308.533 240.706 309.055 241.192C309.582 241.679 309.846 242.347 309.846 243.196ZM308.738 243.196C308.738 242.64 308.56 242.203 308.202 241.887C307.851 241.57 307.344 241.412 306.682 241.412H304.317V245.051H306.699C307.361 245.051 307.865 244.893 308.211 244.576C308.562 244.254 308.738 243.794 308.738 243.196ZM311.312 248.936C313.176 246.68 314.107 244.058 314.107 241.069C314.107 237.952 313.167 235.286 311.286 233.071H312.341C314.187 235.216 315.109 237.888 315.109 241.087C315.109 244.198 314.192 246.814 312.358 248.936H311.312Z"
                            fill="black"
                        />
                        <path
                            d="M333.343 198.875V219H329.446V198.875H333.343ZM360.566 219H356.765V210.797C356.765 208.436 355.908 207.256 354.195 207.256C353.402 207.256 352.737 207.616 352.199 208.336C351.67 209.047 351.406 209.904 351.406 210.906V219H347.605V210.646C347.605 208.386 346.753 207.256 345.048 207.256C344.237 207.256 343.572 207.593 343.052 208.268C342.533 208.933 342.273 209.826 342.273 210.947V219H338.459V204.631H342.273V206.9H342.314C343.39 205.16 344.925 204.289 346.921 204.289C348.945 204.289 350.321 205.21 351.05 207.051C352.144 205.21 353.744 204.289 355.849 204.289C358.994 204.289 360.566 206.221 360.566 210.086V219ZM368.84 217.209V225.617H365.026V204.631H368.84V206.9H368.881C369.993 205.16 371.57 204.289 373.612 204.289C375.426 204.289 376.852 204.923 377.891 206.189C378.939 207.456 379.463 209.197 379.463 211.412C379.463 213.8 378.866 215.723 377.672 217.182C376.487 218.631 374.915 219.355 372.955 219.355C371.187 219.355 369.829 218.64 368.881 217.209H368.84ZM368.786 212.752C368.786 213.791 369.086 214.657 369.688 215.35C370.289 216.033 371.06 216.375 371.998 216.375C373.11 216.375 373.981 215.942 374.61 215.076C375.239 214.21 375.553 212.993 375.553 211.426C375.553 208.646 374.455 207.256 372.258 207.256C371.219 207.256 370.381 207.643 369.743 208.418C369.105 209.193 368.786 210.168 368.786 211.344V212.752ZM383.226 219V197.74H387.027V219H383.226ZM404.174 212.889H394.576C394.731 215.331 396.117 216.553 398.732 216.553C400.327 216.553 401.749 216.133 402.998 215.295V218.193C401.667 218.968 399.958 219.355 397.871 219.355C395.638 219.355 393.897 218.708 392.648 217.414C391.409 216.12 390.789 214.311 390.789 211.986C390.789 209.708 391.454 207.857 392.785 206.436C394.125 205.005 395.798 204.289 397.803 204.289C399.808 204.289 401.371 204.904 402.492 206.135C403.613 207.365 404.174 209.056 404.174 211.207V212.889ZM400.578 210.387C400.578 208.108 399.639 206.969 397.762 206.969C396.978 206.969 396.285 207.279 395.684 207.898C395.091 208.518 394.722 209.348 394.576 210.387H400.578ZM429.866 219H426.065V210.797C426.065 208.436 425.208 207.256 423.495 207.256C422.702 207.256 422.037 207.616 421.499 208.336C420.97 209.047 420.706 209.904 420.706 210.906V219H416.905V210.646C416.905 208.386 416.053 207.256 414.348 207.256C413.537 207.256 412.872 207.593 412.352 208.268C411.833 208.933 411.573 209.826 411.573 210.947V219H407.759V204.631H411.573V206.9H411.614C412.69 205.16 414.225 204.289 416.221 204.289C418.245 204.289 419.621 205.21 420.35 207.051C421.444 205.21 423.044 204.289 425.149 204.289C428.294 204.289 429.866 206.221 429.866 210.086V219ZM446.836 212.889H437.238C437.393 215.331 438.778 216.553 441.394 216.553C442.989 216.553 444.411 216.133 445.66 215.295V218.193C444.329 218.968 442.62 219.355 440.533 219.355C438.3 219.355 436.559 218.708 435.31 217.414C434.071 216.12 433.451 214.311 433.451 211.986C433.451 209.708 434.116 207.857 435.447 206.436C436.787 205.005 438.459 204.289 440.464 204.289C442.47 204.289 444.033 204.904 445.154 206.135C446.275 207.365 446.836 209.056 446.836 211.207V212.889ZM443.24 210.387C443.24 208.108 442.301 206.969 440.423 206.969C439.64 206.969 438.947 207.279 438.345 207.898C437.753 208.518 437.384 209.348 437.238 210.387H443.24ZM463.723 219H459.922V210.947C459.922 208.486 459.034 207.256 457.256 207.256C456.363 207.256 455.634 207.593 455.069 208.268C454.513 208.933 454.235 209.781 454.235 210.811V219H450.42V204.631H454.235V206.941H454.276C455.333 205.173 456.887 204.289 458.938 204.289C462.128 204.289 463.723 206.262 463.723 210.209V219ZM476.236 218.85C475.588 219.178 474.686 219.342 473.529 219.342C470.585 219.342 469.113 217.783 469.113 214.666V207.529H466.734V204.631H469.113V201.418L472.913 200.311V204.631H476.236V207.529H472.913V213.996C472.913 215.582 473.538 216.375 474.786 216.375C475.306 216.375 475.789 216.229 476.236 215.938V218.85ZM344.719 248.936C342.885 246.814 341.968 244.198 341.968 241.087C341.968 237.876 342.894 235.204 344.745 233.071H345.791C343.91 235.274 342.97 237.94 342.97 241.069C342.97 244.063 343.901 246.686 345.765 248.936H344.719ZM354.219 246V237.712H349.051V246H347.979V236.763H355.291V246H354.219ZM359.852 244.479V250.245H358.779V236.763H359.852V238.573H359.887C360.203 237.94 360.654 237.445 361.24 237.088C361.826 236.73 362.491 236.552 363.235 236.552C364.396 236.552 365.312 236.956 365.986 237.765C366.66 238.567 366.997 239.672 366.997 241.078C366.997 242.637 366.616 243.885 365.854 244.822C365.093 245.76 364.088 246.229 362.84 246.229C361.521 246.229 360.537 245.646 359.887 244.479H359.852ZM359.852 242.142C359.852 243.021 360.13 243.765 360.687 244.374C361.243 244.983 361.955 245.288 362.822 245.288C363.73 245.288 364.469 244.91 365.037 244.154C365.605 243.398 365.89 242.373 365.89 241.078C365.89 239.982 365.635 239.109 365.125 238.459C364.615 237.809 363.921 237.483 363.042 237.483C362.421 237.483 361.864 237.633 361.372 237.932C360.886 238.23 360.511 238.644 360.247 239.171C359.983 239.692 359.852 240.278 359.852 240.929V242.142ZM373.57 246.229C372.691 246.229 371.915 246.032 371.241 245.64C370.573 245.247 370.058 244.69 369.694 243.97C369.331 243.243 369.149 242.405 369.149 241.456C369.149 239.95 369.557 238.758 370.371 237.879C371.191 236.994 372.308 236.552 373.72 236.552C375.05 236.552 376.099 236.979 376.866 237.835C377.634 238.69 378.018 239.874 378.018 241.386C378.018 242.839 377.619 244.011 376.822 244.901C376.025 245.786 374.941 246.229 373.57 246.229ZM373.649 237.483C372.612 237.483 371.789 237.835 371.18 238.538C370.57 239.235 370.266 240.205 370.266 241.447C370.266 242.625 370.567 243.56 371.171 244.251C371.774 244.942 372.592 245.288 373.623 245.288C374.672 245.288 375.48 244.945 376.049 244.26C376.623 243.574 376.91 242.619 376.91 241.395C376.91 240.123 376.629 239.153 376.066 238.485C375.504 237.817 374.698 237.483 373.649 237.483ZM387.228 246V238.415L386.973 238.811L381.778 246H380.838V236.763H381.857V244.277C381.951 244.072 382.057 243.888 382.174 243.724L387.263 236.763H388.256V246H387.228ZM397.791 243.451C397.791 244.318 397.448 244.998 396.763 245.49C396.077 245.982 395.125 246.229 393.906 246.229C393.35 246.229 392.808 246.176 392.28 246.07C391.759 245.971 391.331 245.833 390.997 245.657V244.576C391.413 244.805 391.873 244.98 392.377 245.104C392.881 245.227 393.379 245.288 393.871 245.288C395.758 245.288 396.701 244.69 396.701 243.495C396.701 242.88 396.467 242.429 395.998 242.142C395.535 241.854 394.803 241.711 393.801 241.711H392.676V240.771H393.713C394.574 240.771 395.213 240.633 395.629 240.357C396.051 240.082 396.262 239.654 396.262 239.074C396.262 238.57 396.06 238.181 395.655 237.905C395.251 237.624 394.694 237.483 393.985 237.483C393.054 237.483 392.119 237.712 391.182 238.169V237.141C392.184 236.748 393.156 236.552 394.1 236.552C395.148 236.552 395.954 236.763 396.517 237.185C397.085 237.606 397.369 238.198 397.369 238.96C397.369 239.528 397.202 240.009 396.868 240.401C396.534 240.788 396.062 241.04 395.453 241.157V241.192C396.156 241.239 396.722 241.468 397.149 241.878C397.577 242.282 397.791 242.807 397.791 243.451ZM407.423 243.346C407.423 244.119 407.153 244.755 406.614 245.253C406.075 245.751 405.39 246 404.558 246H400.594V236.763H404.294C405.161 236.763 405.838 236.962 406.324 237.36C406.816 237.753 407.062 238.301 407.062 239.004C407.062 239.584 406.91 240.067 406.605 240.454C406.301 240.835 405.87 241.084 405.313 241.201C406.011 241.283 406.535 241.518 406.887 241.904C407.244 242.285 407.423 242.766 407.423 243.346ZM405.964 239.153C405.964 238.679 405.809 238.321 405.498 238.081C405.188 237.835 404.745 237.712 404.171 237.712H401.666V240.779H403.96C404.599 240.779 405.091 240.645 405.437 240.375C405.788 240.105 405.964 239.698 405.964 239.153ZM406.324 243.372C406.324 242.827 406.131 242.417 405.744 242.142C405.363 241.866 404.81 241.729 404.083 241.729H401.666V245.051H404.355C405.012 245.051 405.504 244.901 405.832 244.603C406.16 244.304 406.324 243.894 406.324 243.372ZM414.066 246.229C413.188 246.229 412.411 246.032 411.737 245.64C411.069 245.247 410.554 244.69 410.19 243.97C409.827 243.243 409.646 242.405 409.646 241.456C409.646 239.95 410.053 238.758 410.867 237.879C411.688 236.994 412.804 236.552 414.216 236.552C415.546 236.552 416.595 236.979 417.362 237.835C418.13 238.69 418.514 239.874 418.514 241.386C418.514 242.839 418.115 244.011 417.318 244.901C416.521 245.786 415.438 246.229 414.066 246.229ZM414.146 237.483C413.108 237.483 412.285 237.835 411.676 238.538C411.066 239.235 410.762 240.205 410.762 241.447C410.762 242.625 411.063 243.56 411.667 244.251C412.271 244.942 413.088 245.288 414.119 245.288C415.168 245.288 415.977 244.945 416.545 244.26C417.119 243.574 417.406 242.619 417.406 241.395C417.406 240.123 417.125 239.153 416.562 238.485C416 237.817 415.194 237.483 414.146 237.483ZM428.286 248.777V246H421.105V248.777H420.156V245.06H420.974C421.729 243.981 422.324 242.73 422.758 241.307C423.191 239.877 423.423 238.362 423.452 236.763H427.829V245.06H429.227V248.777H428.286ZM426.757 237.712H424.41C424.205 240.519 423.449 242.968 422.143 245.06H426.757V237.712ZM438.067 246V238.415L437.812 238.811L432.618 246H431.678V236.763H432.697V244.277C432.791 244.072 432.896 243.888 433.014 243.724L438.103 236.763H439.096V246H438.067ZM445.177 237.712V246H444.104V237.712H441.336V236.763H447.945V237.712H445.177ZM456.769 243.196C456.769 244.034 456.499 244.711 455.96 245.227C455.427 245.742 454.744 246 453.912 246H450.168V236.763H451.24V240.463H453.824C454.738 240.463 455.456 240.706 455.978 241.192C456.505 241.679 456.769 242.347 456.769 243.196ZM455.661 243.196C455.661 242.64 455.482 242.203 455.125 241.887C454.773 241.57 454.267 241.412 453.604 241.412H451.24V245.051H453.622C454.284 245.051 454.788 244.893 455.134 244.576C455.485 244.254 455.661 243.794 455.661 243.196ZM458.235 248.936C460.099 246.68 461.03 244.058 461.03 241.069C461.03 237.952 460.09 235.286 458.209 233.071H459.264C461.109 235.216 462.032 237.888 462.032 241.087C462.032 244.198 461.115 246.814 459.281 248.936H458.235Z"
                            fill="black"
                        />
                        <path
                            d="M490.982 209.197C490.982 206.035 491.889 203.469 493.703 201.5C495.526 199.531 497.946 198.547 500.963 198.547C503.824 198.547 506.126 199.504 507.867 201.418C509.617 203.323 510.492 205.77 510.492 208.76C510.492 211.913 509.589 214.47 507.785 216.43C505.989 218.38 503.61 219.355 500.648 219.355C497.768 219.355 495.435 218.403 493.648 216.498C491.871 214.593 490.982 212.16 490.982 209.197ZM495.084 208.979C495.084 211.02 495.585 212.697 496.588 214.01C497.599 215.313 498.971 215.965 500.703 215.965C502.498 215.965 503.893 215.345 504.886 214.105C505.889 212.857 506.39 211.166 506.39 209.033C506.39 206.837 505.907 205.105 504.941 203.838C503.975 202.571 502.608 201.938 500.839 201.938C499.053 201.938 497.645 202.603 496.615 203.934C495.594 205.255 495.084 206.937 495.084 208.979ZM518.11 217.209V225.617H514.295V204.631H518.11V206.9H518.151C519.263 205.16 520.84 204.289 522.881 204.289C524.695 204.289 526.121 204.923 527.161 206.189C528.209 207.456 528.733 209.197 528.733 211.412C528.733 213.8 528.136 215.723 526.942 217.182C525.757 218.631 524.185 219.355 522.225 219.355C520.457 219.355 519.099 218.64 518.151 217.209H518.11ZM518.055 212.752C518.055 213.791 518.356 214.657 518.957 215.35C519.559 216.033 520.329 216.375 521.268 216.375C522.38 216.375 523.25 215.942 523.879 215.076C524.508 214.21 524.823 212.993 524.823 211.426C524.823 208.646 523.724 207.256 521.528 207.256C520.489 207.256 519.65 207.643 519.012 208.418C518.374 209.193 518.055 210.168 518.055 211.344V212.752ZM545.06 212.889H535.462C535.617 215.331 537.002 216.553 539.618 216.553C541.213 216.553 542.635 216.133 543.884 215.295V218.193C542.553 218.968 540.844 219.355 538.757 219.355C536.524 219.355 534.783 218.708 533.534 217.414C532.295 216.12 531.675 214.311 531.675 211.986C531.675 209.708 532.34 207.857 533.671 206.436C535.011 205.005 536.683 204.289 538.689 204.289C540.694 204.289 542.257 204.904 543.378 206.135C544.499 207.365 545.06 209.056 545.06 211.207V212.889ZM541.464 210.387C541.464 208.108 540.525 206.969 538.648 206.969C537.864 206.969 537.171 207.279 536.57 207.898C535.977 208.518 535.608 209.348 535.462 210.387H541.464ZM557.463 208.145C556.962 207.844 556.346 207.693 555.617 207.693C554.66 207.693 553.895 208.085 553.32 208.869C552.746 209.644 552.459 210.688 552.459 212V219H548.645V204.631H552.459V207.393H552.5C553.202 205.387 554.464 204.385 556.287 204.385C556.807 204.385 557.199 204.449 557.463 204.576V208.145ZM560.706 205.547C561.353 205.173 562.192 204.872 563.221 204.645C564.251 204.408 565.177 204.289 565.997 204.289C569.88 204.289 571.821 206.258 571.821 210.195V219H568.184V216.881H568.116C567.15 218.531 565.714 219.355 563.809 219.355C562.424 219.355 561.326 218.968 560.514 218.193C559.703 217.41 559.298 216.361 559.298 215.049C559.298 212.305 560.929 210.715 564.192 210.277L568.198 209.73C568.198 207.898 567.305 206.982 565.518 206.982C563.814 206.982 562.21 207.516 560.706 208.582V205.547ZM565.341 212.438C563.7 212.647 562.88 213.381 562.88 214.639C562.88 215.204 563.076 215.664 563.468 216.02C563.86 216.375 564.388 216.553 565.054 216.553C565.965 216.553 566.717 216.234 567.309 215.596C567.902 214.949 568.198 214.137 568.198 213.162V212.068L565.341 212.438ZM584.347 218.85C583.7 219.178 582.798 219.342 581.64 219.342C578.696 219.342 577.224 217.783 577.224 214.666V207.529H574.845V204.631H577.224V201.418L581.025 200.311V204.631H584.347V207.529H581.025V213.996C581.025 215.582 581.649 216.375 582.898 216.375C583.418 216.375 583.901 216.229 584.347 215.938V218.85ZM600.25 212.889H590.653C590.808 215.331 592.193 216.553 594.809 216.553C596.404 216.553 597.826 216.133 599.075 215.295V218.193C597.744 218.968 596.035 219.355 593.948 219.355C591.715 219.355 589.974 218.708 588.725 217.414C587.485 216.12 586.866 214.311 586.866 211.986C586.866 209.708 587.531 207.857 588.862 206.436C590.202 205.005 591.874 204.289 593.879 204.289C595.885 204.289 597.448 204.904 598.569 206.135C599.69 207.365 600.25 209.056 600.25 211.207V212.889ZM596.655 210.387C596.655 208.108 595.716 206.969 593.838 206.969C593.054 206.969 592.362 207.279 591.76 207.898C591.168 208.518 590.799 209.348 590.653 210.387H596.655ZM497.657 248.936C495.823 246.814 494.906 244.198 494.906 241.087C494.906 237.876 495.832 235.204 497.684 233.071H498.729C496.849 235.274 495.908 237.94 495.908 241.069C495.908 244.063 496.84 246.686 498.703 248.936H497.657ZM507.157 246V237.712H501.989V246H500.917V236.763H508.229V246H507.157ZM512.79 244.479V250.245H511.718V236.763H512.79V238.573H512.825C513.142 237.94 513.593 237.445 514.179 237.088C514.765 236.73 515.43 236.552 516.174 236.552C517.334 236.552 518.251 236.956 518.925 237.765C519.599 238.567 519.936 239.672 519.936 241.078C519.936 242.637 519.555 243.885 518.793 244.822C518.031 245.76 517.026 246.229 515.778 246.229C514.46 246.229 513.476 245.646 512.825 244.479H512.79ZM512.79 242.142C512.79 243.021 513.068 243.765 513.625 244.374C514.182 244.983 514.894 245.288 515.761 245.288C516.669 245.288 517.407 244.91 517.976 244.154C518.544 243.398 518.828 242.373 518.828 241.078C518.828 239.982 518.573 239.109 518.063 238.459C517.554 237.809 516.859 237.483 515.98 237.483C515.359 237.483 514.803 237.633 514.311 237.932C513.824 238.23 513.449 238.644 513.186 239.171C512.922 239.692 512.79 240.278 512.79 240.929V242.142ZM529.137 246V238.415L528.882 238.811L523.688 246H522.747V236.763H523.767V244.277C523.86 244.072 523.966 243.888 524.083 243.724L529.172 236.763H530.165V246H529.137ZM541.801 246V238.16C541.719 238.412 541.596 238.746 541.432 239.162C541.273 239.578 540.356 241.857 538.681 246H537.89L535.244 239.856C535.133 239.61 535.001 239.285 534.849 238.881C534.702 238.471 534.62 238.23 534.603 238.16V246H533.636V236.763H534.98L537.635 243.021C537.881 243.653 538.062 244.131 538.18 244.453L538.294 244.778L538.399 244.497L541.458 236.763H542.855V246H541.801ZM546.801 241.544C546.801 242.704 547.079 243.618 547.636 244.286C548.198 244.954 548.98 245.288 549.982 245.288C551.025 245.288 552.013 244.919 552.944 244.181V245.253C552.048 245.903 550.979 246.229 549.736 246.229C548.477 246.229 547.483 245.795 546.757 244.928C546.036 244.055 545.676 242.868 545.676 241.368C545.676 240.466 545.854 239.646 546.212 238.907C546.575 238.163 547.076 237.586 547.715 237.176C548.359 236.76 549.071 236.552 549.851 236.552C551.011 236.552 551.91 236.944 552.549 237.729C553.188 238.515 553.507 239.613 553.507 241.025V241.544H546.801ZM552.399 240.595C552.376 239.61 552.142 238.846 551.696 238.301C551.251 237.756 550.627 237.483 549.824 237.483C549.01 237.483 548.339 237.762 547.812 238.318C547.284 238.875 546.956 239.634 546.827 240.595H552.399ZM562.515 246V241.676H557.347V246H556.274V236.763H557.347V240.735H562.515V236.763H563.587V246H562.515ZM572.059 246V242.054H570.644C569.87 242.054 569.237 242.575 568.745 243.618L567.646 246H566.372L567.682 243.328C568.045 242.566 568.534 242.057 569.149 241.799C568.411 241.705 567.857 241.444 567.488 241.017C567.119 240.589 566.935 240.041 566.935 239.373C566.935 238.57 567.219 237.935 567.787 237.466C568.355 236.997 569.135 236.763 570.125 236.763H573.157V246H572.059ZM572.059 237.694H570.16C569.469 237.694 568.947 237.841 568.596 238.134C568.25 238.427 568.077 238.843 568.077 239.382C568.077 240.542 568.754 241.122 570.107 241.122H572.059V237.694ZM579.238 237.712V246H578.166V237.712H575.397V236.763H582.007V237.712H579.238ZM590.83 243.196C590.83 244.034 590.561 244.711 590.021 245.227C589.488 245.742 588.806 246 587.974 246H584.229V236.763H585.302V240.463H587.886C588.8 240.463 589.518 240.706 590.039 241.192C590.566 241.679 590.83 242.347 590.83 243.196ZM589.723 243.196C589.723 242.64 589.544 242.203 589.187 241.887C588.835 241.57 588.328 241.412 587.666 241.412H585.302V245.051H587.684C588.346 245.051 588.85 244.893 589.195 244.576C589.547 244.254 589.723 243.794 589.723 243.196ZM592.297 248.936C594.16 246.68 595.092 244.058 595.092 241.069C595.092 237.952 594.151 235.286 592.271 233.071H593.325C595.171 235.216 596.094 237.888 596.094 241.087C596.094 244.198 595.177 246.814 593.343 248.936H592.297Z"
                            fill="black"
                        />
                        <defs>
                            <clipPath id="clip0">
                                <rect width="93"
                                      height="93"
                                      fill="white"
                                      transform="translate(46.5 46.5)"
                                />
                            </clipPath>
                            <clipPath id="clip1">
                                <rect width="93"
                                      height="93"
                                      fill="white"
                                      transform="translate(200.5 39.06)"
                                />
                            </clipPath>
                            <clipPath id="clip2">
                                <rect width="32.1628"
                                      height="32.4035"
                                      fill="white"
                                      transform="translate(559.281 46.5)"
                                />
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="col-12 col-md-5">
                    <img src="/images/to-cdio.png">
                </div>
            </div>
            <p>
                Инициатива CDIO состоит из более чем 120 школ по всему миру, организованных в 7 регионов; Европа,
                Северная Америка, Азия, Великобритания-Ирландия, Латинская Америка, Австралия, Новая Зеландия и Африка.
                Их возглавляет один или несколько региональных лидеров, назначаемых каждым регионом.Инициатива CDIO
                организует ежегодную Международную конференцию CDIO в июне и осеннюю встречу каждый год. Все регионы
                также проводят 1-2 региональных собрания ежегодно, чтобы представить работу и исследования в рамках
                инженерного образования, выбрать региональных лидеров и послушать презентации новых школ,
                присоединившихся к Инициативе. Лидеры CDIO, все представители школ, встречаются раз в два месяца на
                телеконференции, чтобы обсудить и управлять различными мероприятиями Инициативы.
            </p>
        </div>
        <div class="container mb-5">
            <h2 class="h3">
                Основные документы
            </h2>
            <department-schedule />
        </div>
    </div>
</template>

<script>
export default {
    name: 'ForTeacher',
    data() {
        return {
            d_files: [
                {
                    name: 'Правила внутреннего трудового распорядка, с изменениями от 24.12.2020 г., протокол УС №10',
                    url: 'asd.pdf',
                },
                {
                    name: 'Расписание звонков',
                    url: 'asd.pdf',
                },
            ],
        };
    },
};
</script>

<style scoped>

</style>
