<template>
    <div class="pt-0">
        <index-header />
        <index-advantages class="mb-5" />
        <last-news />
        <v-gallery />
    </div>
</template>

<script>
export default {
    data() {
        return {};
    },
};
</script>

<style>
</style>
