<template>
    <div class="container department">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="department__header"
                     :style="{backgroundImage: d_department.image.sizes[0].url}"
                >
                    <nuxt-link class="department__back"
                               to="/departments"
                    >
                        Назад
                    </nuxt-link>
                    <h1 class="department__name">
                        {{ d_department.name }}
                    </h1>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div v-html="d_department.description" />
            </div>
        </div>
        <div class="department__teachers mb-5">
            <teacher-card v-for="teacher in d_department.teachers"
                          :key="teacher.id"
                          :teacher="teacher"
            />
        </div>
        <department-schedule class="mb-5" />
        <department-schedule class="mb-5" />
        <department-schedule />
    </div>
</template>

<script>
export default {
    name: 'Department',
    data() {
        return {
            d_department: {
                id: 1,
                name: 'Кафедра автоматики и компьютерных систем',
                description: 'Какое-то описание',
                image: {
                    sizes: [{
                        url: 'url("/images/department-example.jpg")',
                    }],
                },
                teachers: [
                    {
                        id: 1,
                        lastName: 'Запевалов',
                        firstName: 'Андрей',
                        middleName: 'Валентинович',
                        position: 'Зав. кафедрой',
                        image: {
                            sizes: [{
                                url: 'url("/images/teacher-example.jpg")',
                            }],
                        },
                    },
                ],
            },
        };
    },
};
</script>

<style scoped lang="scss">
.department__teachers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.department__header {
    min-height: 600px;
    background-size: cover;
    margin-bottom: 30px;
    padding-top: 50px;
}

.department__back {
    font-size: 24px;
    margin-left: 50px;
    display: block;
    color: white;
}

.department__name {
    font-size: 36px;
    background: $primary;
    padding: 15px 50px;
    margin-top: 60px;
    margin-right: 100px;
    color: white;
}
</style>
